In [1]:
%matplotlib inline

This US Census dataset contains detailed but anonymised information for approximately 300,000 people.

The archive contains 3 files:
o   A large learning .csv file
o   Another test .csv file
o   A metadata file describing the columns of the two above mentioned files (identical for both)

The goal of this exercise is to “modelize” / “predict” the information contained in the last column (42nd), i.e., which people save more or less than $50,000 / year, from the information contained in the other columns.
The exercise here consists of modelizing a binary variable.

# Load Libraries

In [2]:
from pprint import pprint
import matplotlib.pyplot as Plot
import pandas as pd
from sklearn.cross_validation import cross_val_score
from sklearn.feature_selection import SelectPercentile, SelectKBest, f_classif, chi2
from sklearn import metrics
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

#future version of sklearn (0.18.dev)
# from sklearn.neural_network import MLPClassifier 
from sklearn import svm
from IPython.display import display, HTML
pd.set_option('display.max_columns', 50)
import sys

print('Loaded...')

Loaded...

# Read Data

In [3]:
learndf = pd.read_csv("census_income_learn.csv", header = None, skipinitialspace = True, na_values= "Not in universe")
testdf = pd.read_csv("census_income_test.csv", header = None, skipinitialspace = True, na_values= "Not in universe")
print(len(learndf.columns))
display(learndf)

42

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41
0,73,NaN,0,0,High school graduate,0,NaN,Widowed,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Not in labor force,0,0,0,Nonfiler,NaN,NaN,Other Rel 18+ ever marr not in subfamily,Other relative of householder,1700.09,?,?,?,Not in universe under 1 year old,?,0,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,NaN,Divorced,Construction,Precision production craft & repair,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Head of household,South,Arkansas,Householder,Householder,1053.55,MSA to MSA,Same county,Same county,No,Yes,1,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
2,18,NaN,0,0,10th grade,0,High school,Never married,Not in universe or children,NaN,Asian or Pacific Islander,All other,Female,NaN,NaN,Not in labor force,0,0,0,Nonfiler,NaN,NaN,Child 18+ never marr Not in a subfamily,Child 18 or older,991.95,?,?,?,Not in universe under 1 year old,?,0,NaN,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,NaN,2,0,95,- 50000.
3,9,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1758.14,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
4,10,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1069.16,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
5,48,Private,40,10,Some college but no degree,1200,NaN,Married-civilian spouse present,Entertainment,Professional specialty,Amer Indian Aleut or Eskimo,All other,Female,No,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,162.61,?,?,?,Not in universe under 1 year old,?,1,NaN,Philippines,United-States,United-States,Native- Born in the United States,2,NaN,2,52,95,- 50000.
6,42,Private,34,3,Bachelors degree(BA AB BS),0,NaN,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,White,All other,Male,NaN,NaN,Children or Armed Forces,5178,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1535.86,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
7,28,Private,4,40,High school graduate,0,NaN,Never married,Construction,Handlers equip cleaners etc,White,All other,Female,NaN,Job loser - on layoff,Unemployed full-time,0,0,0,Single,NaN,NaN,Secondary individual,Nonrelative of householder,898.83,?,?,?,Not in universe under 1 year old,?,4,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,30,95,- 50000.
8,47,Local government,43,26,Some college but no degree,876,NaN,Married-civilian spouse present,Education,Adm support including clerical,White,All other,Female,No,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,1661.53,?,?,?,Not in universe under 1 year old,?,5,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
9,34,Private,4,37,Some college but no degree,0,NaN,Married-civilian spouse present,Construction,Machine operators assmblrs & inspctrs,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1146.79,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
10,8,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,2466.24,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
11,32,NaN,0,0,High school graduate,0,NaN,Never married,Not in universe or children,NaN,Black,All other,Female,NaN,NaN,Not in labor force,0,0,0,Nonfiler,NaN,NaN,Other Rel 18+ never marr not in subfamily,Other relative of householder,2021.27,?,?,?,Not in universe under 1 year old,?,0,NaN,?,?,?,Foreign born- Not a citizen of U S,0,NaN,2,0,95,- 50000.
12,51,Private,4,34,Some college but no degree,0,NaN,Married-civilian spouse present,Construction,Precision production craft & repair,White,Do not know,Male,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,2441.22,Nonmover,Nonmover,Nonmover,Yes,NaN,3,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
13,46,Private,37,31,High school graduate,0,NaN,Divorced,Business and repair services,Other service,White,Central or South American,Female,NaN,NaN,Children or Armed Forces,0,1590,0,Single,NaN,NaN,Householder,Householder,978.16,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,Columbia,Columbia,Columbia,Foreign born- Not a citizen of U S,0,NaN,2,52,94,- 50000.
14,26,Private,24,12,Bachelors degree(BA AB BS),0,NaN,Never married,Manufacturing-nondurable goods,Professional specialty,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Single,NaN,NaN,Nonfamily householder,Householder,2604.91,?,?,?,Not in universe under 1 year old,?,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
15,13,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,Black,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1520.08,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
16,47,Private,39,36,Bachelors degree(BA AB BS),0,NaN,Never married,Personal services except private HH,Machine operators assmblrs & inspctrs,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Single,NaN,NaN,Nonfamily householder,Householder,404.90,?,?,?,Not in universe under 1 year old,?,6,NaN,Germany,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
17,39,NaN,0,0,10th grade,0,NaN,Married-civilian spouse present,Not in universe or children,NaN,White,Mexican (Mexicano),Female,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,1274.04,Nonmover,Nonmover,Nonmover,Yes,NaN,0,NaN,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,NaN,2,0,94,- 50000.
18,16,NaN,0,0,10th grade,0,High school,Never married,Not in universe or children,NaN,White,Mexican-American,Female,NaN,NaN,Not in labor force,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1555.29,?,?,?,Not in universe under 1 year old,?,0,Both parents present,United-States,El-Salvador,United-States,Native- Born in the United States,0,NaN,2,0,95,- 50000.
19,35,Private,12,41,High school graduate,0,NaN,Married-civilian spouse present,Manufacturing-durable goods,Handlers equip cleaners etc,White,All other,Male,NaN,NaN,Full-time schedules,0,0,6000,Joint both under 65,NaN,NaN,Householder,Householder,1790.75,?,?,?,Not in universe under 1 year old,?,4,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,49,95,- 50000.
20,12,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,Other,Mexican-American,Male,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,South,Utah,Child <18 never marr not in subfamily,Child under 18 never married,455.02,MSA to MSA,Different region,Different state in South,No,Yes,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
21,27,Self-employed-not incorporated,4,34,Some college but no degree,0,NaN,Married-civilian spouse present,Construction,Precision production craft & repair,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1004.69,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,1,NaN,2,52,94,- 50000.
22,56,Private,35,22,Some college but no degree,500,NaN,Married-civilian spouse present,Finance insurance and real estate,Adm support including clerical,White,All other,Female,No,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,1500.08,?,?,?,Not in universe under 1 year old,?,2,NaN,United-States,United-States,United-States,Native- Born in the United States,2,NaN,2,32,95,- 50000.
23,46,Private,45,12,Masters degree(MA MS MEng MEd MSW MBA),0,NaN,Married-civilian spouse present,Other professional services,Professional specialty,White,All other,Male,NaN,NaN,Children or Armed Forces,0,1977,100,Joint both under 65,NaN,NaN,Householder,Householder,999.46,Nonmover,Nonmover,Nonmover,Yes,NaN,1,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
24,55,NaN,0,0,Some college but no degree,0,NaN,Married-civilian spouse present,Not in universe or children,NaN,Asian or Pacific Islander,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1483.69,Nonmover,Nonmover,Nonmover,Yes,NaN,0,NaN,Japan,United-States,United-States,Native- Born in the United States,0,NaN,2,0,94,- 50000.
25,2,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1660.53,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
26,1,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,Other,Central or South American,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,Northeast,Michigan,Child <18 never marr not in subfamily,Child under 18 never married,848.25,MSA to MSA,Different county same state,Different county same state,No,No,0,Mother only present,?,?,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
27,37,Private,3,34,Some college but no degree,0,NaN,Married-civilian spouse present,Mining,Precision production craft & repair,White,All other,Male,NaN,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,2671.99,?,?,?,Not in universe under 1 year old,?,3,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
28,4,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1188.42,?,?,?,Not in universe under 1 year old,?,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,95,- 50000.
29,37,Private,4,2,Bachelors degree(BA AB BS),0,NaN,Never married,Construction,Executive admin and managerial,White,All other,Male,NaN,NaN,Children or Armed Forces,0,1669,700,Single,NaN,NaN,Secondary individual,Nonrelative of householder,1331.35,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199493,13,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1564.81,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199494,5,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,2031.30,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199495,44,Self-employed-not incorporated,38,2,Some college but no degree,0,NaN,Married-civilian spouse present,Business and repair services,Executive admin and managerial,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1605.37,Nonmover,Nonmover,Nonmover,Yes,NaN,1,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,50,94,- 50000.
199496,1,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,2340.77,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199497,40,Self-employed-not incorporated,35,17,Bachelors degree(BA AB BS),0,NaN,Married-civilian spouse present,Finance insurance and real estate,Sales,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,495.87,?,?,?,Not in universe under 1 year old,?,1,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,50,95,- 50000.
199498,50,Private,42,26,High school graduate,0,NaN,Married-civilian spouse present,Medical except hospital,Adm support including clerical,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,308.53,Nonmover,Nonmover,Nonmover,Yes,NaN,3,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
199499,59,Private,24,2,Bachelors degree(BA AB BS),0,NaN,Married-civilian spouse present,Manufacturing-nondurable goods,Executive admin and managerial,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Joint one under 65 & one 65+,NaN,NaN,Spouse of householder,Spouse of householder,1534.37,?,?,?,Not in universe under 1 year old,?,2,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,50000+.
199500,74,State government,44,42,7th and 8th grade,0,NaN,Widowed,Social services,Handlers equip cleaners etc,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Single,NaN,NaN,Nonfamily householder,Householder,2358.27,Nonmover,Nonmover,Nonmover,Yes,NaN,5,NaN,?,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
199501,13,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child under 18 of RP of unrel subfamily,Nonrelative of householder,2238.27,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Mother only present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199502,50,Federal government,29,2,Some college but no degree,0,NaN,Married-civilian spouse present,Transportation,Executive admin and managerial,White,Other Spanish,Male,NaN,NaN,PT for non-econ reasons usually FT,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1668.75,?,?,?,Not in universe under 1 year old,?,4,NaN,United-States,United-States,United-States,Native- Born in the United States,2,NaN,2,48,95,- 50000.
199503,24,Private,33,29,11th grade,0,NaN,Never married,Retail trade,Other service,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Head of household,NaN,NaN,Householder,Householder,3790.89,?,?,?,Not in universe under 1 year old,?,6,NaN,United-States,United-States,United-States,Native- Born in the United States,2,NaN,2,52,95,- 50000.
199504,43,Private,22,36,High school graduate,0,NaN,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,White,Mexican (Mexicano),Female,NaN,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,2226.60,?,?,?,Not in universe under 1 year old,?,4,NaN,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,NaN,2,52,95,- 50000.
199505,33,Private,34,3,High school graduate,0,NaN,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,White,Other Spanish,Female,NaN,NaN,PT for non-econ reasons usually FT,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,270.24,?,?,?,Not in universe under 1 year old,?,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
199506,14,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1796.74,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199507,25,Self-employed-incorporated,33,16,Some college but no degree,0,NaN,Never married,Retail trade,Sales,Other,Central or South American,Female,NaN,NaN,Children or Armed Forces,0,0,0,Single,NaN,NaN,Child 18+ never marr Not in a subfamily,Child 18 or older,512.95,Nonmover,Nonmover,Nonmover,Yes,NaN,1,NaN,?,?,?,Foreign born- U S citizen by naturalization,0,NaN,2,52,94,- 50000.
199508,62,Private,4,2,Some college but no degree,0,NaN,Married-spouse absent,Construction,Executive admin and managerial,White,All other,Male,NaN,NaN,Full-time schedules,0,0,0,Single,NaN,NaN,Nonfamily householder,Householder,1776.29,?,?,?,Not in universe under 1 year old,?,6,NaN,Greece,United-States,United-States,Native- Born in the United States,2,Yes,1,52,95,50000+.
199509,47,Local government,43,12,Doctorate degree(PhD EdD),0,NaN,Married-civilian spouse present,Education,Professional specialty,White,All other,Female,No,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,2625.77,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,2,NaN,2,52,94,50000+.
199510,25,Private,33,41,Some college but no degree,0,NaN,Never married,Retail trade,Handlers equip cleaners etc,Amer Indian Aleut or Eskimo,All other,Male,NaN,Job leaver,Children or Armed Forces,0,0,0,Single,Midwest,Wyoming,Nonfamily householder,Householder,2764.79,MSA to MSA,Different division same region,Different state in Midwest,No,No,4,NaN,United-States,Germany,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
199511,47,Private,23,37,Some college but no degree,0,NaN,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,White,All other,Female,NaN,NaN,PT for non-econ reasons usually FT,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,2280.93,?,?,?,Not in universe under 1 year old,?,5,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.

# Analysis
Based on the learning file, make a quick statistic based and univariate audit of the different columns’ content and produce the results in visual / graphic format

In [4]:
learndf.describe()

,0,2,3,5,16,17,18,24,30,36,38,39,40
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,15.352320,11.306556,55.426908,434.71899,37.313788,197.529533,1740.380269,1.956180,0.175438,1.514833,23.174897,94.499672
std,22.310895,18.067129,14.454204,274.896454,4697.53128,271.896428,1984.163658,993.768156,2.365126,0.553694,0.851473,24.411488,0.500001
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,37.870000,0.000000,0.000000,0.000000,0.000000,94.000000
25%,15.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1061.615000,0.000000,0.000000,2.000000,0.000000,94.000000
50%,33.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1618.310000,1.000000,0.000000,2.000000,8.000000,94.000000
75%,50.000000,33.000000,26.000000,0.000000,0.00000,0.000000,0.000000,2188.610000,4.000000,0.000000,2.000000,52.000000,95.000000
max,90.000000,51.000000,46.000000,9999.000000,99999.00000,4608.000000,99999.000000,18656.300000,6.000000,2.000000,2.000000,52.000000,95.000000

In [5]:
for col in learndf.columns:
    print('{} : {} {}% NaN'.format(col, learndf[col].dtype, (learndf[col].isnull().sum() / len(learndf.index)) * 100))
    print(learndf[col].unique())

0 : int64 0.0% NaN
[73 58 18  9 10 48 42 28 47 34  8 32 51 46 26 13 39 16 35 12 27 56 55  2  1
 37  4 63 25 81 11 30  7 66 84 52  5 36 72 61 41 90 49  6  0 33 57 50 24 17
 53 40 54 22 29 85 38 76 21 31 74 19 15  3 43 68 71 45 62 23 69 75 44 59 60
 64 65 70 67 78 20 14 83 86 89 77 79 82 80 87 88]
1 : object 50.24232795216591% NaN
[nan 'Self-employed-not incorporated' 'Private' 'Local government'
 'Federal government' 'Self-employed-incorporated' 'State government'
 'Never worked' 'Without pay']
2 : int64 0.0% NaN
[ 0  4 40 34 43 37 24 39 12 35 45  3 19 29 32 48 33 23 44 36 31 30 41  5 11
  9 42  6 18 50  2  1 26 47 16 14 22 17  7  8 25 46 27 15 13 49 38 21 28 20
 51 10]
3 : int64 0.0% NaN
[ 0 34 10  3 40 26 37 31 12 36 41 22  2 35 25 23 42  8 19 29 27 16 33 13 18
  9 17 39 32 11 30 38 20  7 21 44 24 43 28  4  1  6 45 14  5 15 46]
4 : object 0.0% NaN
['High school graduate' 'Some college but no degree' '10th grade'
 'Children' 'Bachelors degree(BA AB BS)'
 'Masters degree(MA MS MEng MEd MSW MBA)' 'Less than 1st grade'
 'Associates degree-academic program' '7th and 8th grade'
 '12th grade no diploma' 'Associates degree-occup /vocational'
 'Prof school degree (MD DDS DVM LLB JD)' '5th or 6th grade' '11th grade'
 'Doctorate degree(PhD EdD)' '9th grade' '1st 2nd 3rd or 4th grade']
5 : int64 0.0% NaN
[   0 1200  876 ..., 3156 2188 1092]
6 : object 93.694962485528% NaN
[nan 'High school' 'College or university']
7 : object 0.0% NaN
['Widowed' 'Divorced' 'Never married' 'Married-civilian spouse present'
 'Separated' 'Married-spouse absent' 'Married-A F spouse present']
8 : object 0.0% NaN
['Not in universe or children' 'Construction' 'Entertainment'
 'Finance insurance and real estate' 'Education'
 'Business and repair services' 'Manufacturing-nondurable goods'
 'Personal services except private HH' 'Manufacturing-durable goods'
 'Other professional services' 'Mining' 'Transportation' 'Wholesale trade'
 'Public administration' 'Retail trade' 'Social services'
 'Private household services' 'Utilities and sanitary services'
 'Communications' 'Hospital services' 'Medical except hospital'
 'Agriculture' 'Forestry and fisheries' 'Armed Forces']
9 : object 50.462352711216255% NaN
[nan 'Precision production craft & repair' 'Professional specialty'
 'Executive admin and managerial' 'Handlers equip cleaners etc '
 'Adm support including clerical' 'Machine operators assmblrs & inspctrs'
 'Other service' 'Sales' 'Private household services'
 'Technicians and related support' 'Transportation and material moving'
 'Farming forestry and fishing' 'Protective services' 'Armed Forces']
10 : object 0.0% NaN
['White' 'Asian or Pacific Islander' 'Amer Indian Aleut or Eskimo' 'Black'
 'Other']
11 : object 0.43804473669702243% NaN
['All other' 'Do not know' 'Central or South American' 'Mexican (Mexicano)'
 'Mexican-American' 'Other Spanish' 'Puerto Rican' 'Cuban' 'Chicano' nan]
12 : object 0.0% NaN
['Female' 'Male']
13 : object 90.44521183021507% NaN
[nan 'No' 'Yes']
14 : object 96.95774421996461% NaN
[nan 'Job loser - on layoff' 'Other job loser' 'New entrant' 'Re-entrant'
 'Job leaver']
15 : object 0.0% NaN
['Not in labor force' 'Children or Armed Forces' 'Full-time schedules'
 'Unemployed full-time' 'Unemployed part- time'
 'PT for non-econ reasons usually FT' 'PT for econ reasons usually PT'
 'PT for econ reasons usually FT']
16 : int64 0.0% NaN
[    0  5178   991  2829  3464  5556  7298 15024  1831  3137 10605 20051
  2538  3908  2407  2050  3103  1086  7688  5013  4386  2414 99999 13550
  2174  4650  4064   914  2354  4787  2009  2597  1055  6097  2635  2105
  3325  6767  2228  2062  3942 27828  9562  2176  7262  2202  2290  1173
  8614  2329  2653  7430  3456  2580 10520  2907  3471  2885  9386  2993
  7896 14084  3818  1409   594  7978  1797  2964  4934  1848  4101  3418
  3432  2774  1424  6849  4687  6418  4508  3674  3411  2936  4416  2346
 10566  7443  5455  1151 25236  2463  1455  3781 14344  4865 11678  1471
  5060   114  4931  1506   401 25124 15020  2036  3273  6514  1111  2977
 41310 18481  6497  6723 15831  2098  1264 34095 22040  3887  2961  5721
  1090  6360  3800  2387  1731  6612  9472  4594  2601  1140  2227  8530]
17 : int64 0.0% NaN
[   0 1590 1977 1669 1719 2444 1421 1848 2205 2149 2001 1902 2090 1573 2415
 2377 1876 1602 1740 1974 2339 1887 1258 2597 2603 1408 1980 1721 1816 1340
 2788 2174 2042 1485 2489 2129 2457 2051 1762 2057 1672 2258  213 1651 2206
 3770 1628 1564 1668 1735 1579  625 4608 2559 2246 4356 1844 2002 2267 3175
 1380 2392 1092 1504 2238 2704 2467  810 1539 2824 1741 1870 1944 1825  419
 2547 1510  880 1617 1411 1648  323 2282 2352 3004 1755 1429  653 2163 2179
 1436 2722 3500 1640  974 1021 2754 1726 3900 2027  772 2231 1138 1594 2465
 2519 1956 1911 2472 2201 2080 3683  155]
18 : int64 0.0% NaN
[   0 6000  100 ...,  169 1055 7958]
19 : object 0.0% NaN
['Nonfiler' 'Head of household' 'Joint both under 65' 'Single'
 'Joint both 65+' 'Joint one under 65 & one 65+']
20 : object 92.0946457300662% NaN
[nan 'South' 'Northeast' 'Midwest' 'West' 'Abroad']
21 : object 92.0946457300662% NaN
[nan 'Arkansas' 'Utah' 'Michigan' 'Minnesota' 'Alaska' 'Kansas' 'Indiana'
 '?' 'Massachusetts' 'New Mexico' 'Nevada' 'Tennessee' 'Colorado' 'Abroad'
 'Kentucky' 'California' 'Arizona' 'North Carolina' 'Connecticut' 'Florida'
 'Vermont' 'Maryland' 'Oklahoma' 'Oregon' 'Ohio' 'South Carolina' 'Texas'
 'Montana' 'Wyoming' 'Georgia' 'Pennsylvania' 'Iowa' 'New Hampshire'
 'Missouri' 'Alabama' 'North Dakota' 'New Jersey' 'Louisiana'
 'West Virginia' 'Delaware' 'Illinois' 'Maine' 'Wisconsin' 'New York'
 'Idaho' 'District of Columbia' 'South Dakota' 'Nebraska' 'Virginia'
 'Mississippi']
22 : object 0.0% NaN
['Other Rel 18+ ever marr not in subfamily' 'Householder'
 'Child 18+ never marr Not in a subfamily'
 'Child <18 never marr not in subfamily' 'Spouse of householder'
 'Secondary individual' 'Other Rel 18+ never marr not in subfamily'
 'Nonfamily householder' 'Grandchild <18 never marr not in subfamily'
 'Grandchild <18 never marr child of subfamily RP'
 'Child 18+ ever marr Not in a subfamily'
 'Child 18+ never marr RP of subfamily' 'Child 18+ spouse of subfamily RP'
 'Other Rel <18 never marr child of subfamily RP'
 'Child under 18 of RP of unrel subfamily'
 'Grandchild 18+ never marr not in subfamily'
 'Child 18+ ever marr RP of subfamily'
 'Other Rel 18+ ever marr RP of subfamily' 'RP of unrelated subfamily'
 'Other Rel 18+ spouse of subfamily RP'
 'Other Rel <18 never marr not in subfamily'
 'Other Rel <18 spouse of subfamily RP' 'In group quarters'
 'Grandchild 18+ spouse of subfamily RP'
 'Other Rel 18+ never marr RP of subfamily'
 'Child <18 never marr RP of subfamily'
 'Child <18 ever marr not in subfamily'
 'Other Rel <18 ever marr RP of subfamily'
 'Grandchild 18+ ever marr not in subfamily'
 'Child <18 spouse of subfamily RP' 'Spouse of RP of unrelated subfamily'
 'Other Rel <18 never married RP of subfamily'
 'Grandchild 18+ never marr RP of subfamily'
 'Grandchild 18+ ever marr RP of subfamily'
 'Child <18 ever marr RP of subfamily'
 'Other Rel <18 ever marr not in subfamily'
 'Grandchild <18 never marr RP of subfamily'
 'Grandchild <18 ever marr not in subfamily']
23 : object 0.0% NaN
['Other relative of householder' 'Householder' 'Child 18 or older'
 'Child under 18 never married' 'Spouse of householder'
 'Nonrelative of householder' 'Group Quarters- Secondary individual'
 'Child under 18 ever married']
24 : float64 0.0% NaN
[ 1700.09  1053.55   991.95 ...,  2733.75   908.14  4664.87]
25 : object 0.7598121519824782% NaN
['?' 'MSA to MSA' 'Nonmover' 'NonMSA to nonMSA' nan 'Not identifiable'
 'Abroad to MSA' 'MSA to nonMSA' 'Abroad to nonMSA' 'NonMSA to MSA']
26 : object 0.7598121519824782% NaN
['?' 'Same county' 'Nonmover' 'Different region'
 'Different county same state' nan 'Different division same region'
 'Abroad' 'Different state same division']
27 : object 0.7598121519824782% NaN
['?' 'Same county' 'Nonmover' 'Different state in South'
 'Different county same state' nan 'Different state in Northeast' 'Abroad'
 'Different state in Midwest' 'Different state in West']
28 : object 0.0% NaN
['Not in universe under 1 year old' 'No' 'Yes']
29 : object 42.12747402555094% NaN
['?' 'Yes' nan 'No']
30 : int64 0.0% NaN
[0 1 6 4 5 3 2]
31 : object 72.28840785272875% NaN
[nan 'Both parents present' 'Mother only present' 'Neither parent present'
 'Father only present']
32 : object 0.0% NaN
['United-States' 'Vietnam' 'Philippines' '?' 'Columbia' 'Germany' 'Mexico'
 'Japan' 'Peru' 'Dominican-Republic' 'South Korea' 'Cuba' 'El-Salvador'
 'Canada' 'Scotland' 'Outlying-U S (Guam USVI etc)' 'Italy' 'Guatemala'
 'Ecuador' 'Puerto-Rico' 'Cambodia' 'China' 'Poland' 'Nicaragua' 'Taiwan'
 'England' 'Ireland' 'Hungary' 'Yugoslavia' 'Trinadad&Tobago' 'Jamaica'
 'Honduras' 'Portugal' 'Iran' 'France' 'India' 'Hong Kong' 'Haiti' 'Greece'
 'Holand-Netherlands' 'Thailand' 'Laos' 'Panama']
33 : object 0.0% NaN
['United-States' 'Vietnam' '?' 'Columbia' 'Mexico' 'El-Salvador' 'Peru'
 'Puerto-Rico' 'Cuba' 'Philippines' 'Dominican-Republic' 'Germany'
 'England' 'Guatemala' 'Scotland' 'Portugal' 'Italy' 'Ecuador' 'Yugoslavia'
 'China' 'Poland' 'Hungary' 'Nicaragua' 'Taiwan' 'Ireland' 'Canada'
 'South Korea' 'Trinadad&Tobago' 'Jamaica' 'Honduras' 'Iran' 'France'
 'Cambodia' 'India' 'Hong Kong' 'Haiti' 'Japan' 'Greece'
 'Holand-Netherlands' 'Thailand' 'Panama' 'Laos'
 'Outlying-U S (Guam USVI etc)']
34 : object 0.0% NaN
['United-States' 'Vietnam' '?' 'Columbia' 'Mexico' 'Peru' 'Cuba'
 'Philippines' 'Dominican-Republic' 'El-Salvador' 'Canada' 'Scotland'
 'Portugal' 'Guatemala' 'Ecuador' 'Germany' 'Outlying-U S (Guam USVI etc)'
 'Puerto-Rico' 'Italy' 'China' 'Poland' 'Nicaragua' 'Taiwan' 'England'
 'Ireland' 'South Korea' 'Trinadad&Tobago' 'Jamaica' 'Honduras' 'Iran'
 'Hungary' 'France' 'Cambodia' 'India' 'Hong Kong' 'Japan' 'Haiti'
 'Holand-Netherlands' 'Greece' 'Thailand' 'Panama' 'Yugoslavia' 'Laos']
35 : object 0.0% NaN
['Native- Born in the United States' 'Foreign born- Not a citizen of U S '
 'Foreign born- U S citizen by naturalization'
 'Native- Born abroad of American Parent(s)'
 'Native- Born in Puerto Rico or U S Outlying']
36 : int64 0.0% NaN
[0 2 1]
37 : object 99.00562842379074% NaN
[nan 'No' 'Yes']
38 : int64 0.0% NaN
[2 0 1]
39 : int64 0.0% NaN
[ 0 52 30 49 32 15 38 48  9 24 50 10 45 43  4 26 40 20  6 12 51  1  8 39 13
 16 34 14 36 44 22 41 46 28 23 35 25 17 11 37  5 42 29  2 21 19 47  3 27  7
 18 33 31]
40 : int64 0.0% NaN
[95 94]
41 : object 0.0% NaN
['- 50000.' '50000+.']

In [6]:
learndf.describe(include='all')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41
count,199523.000000,99278,199523.000000,199523.000000,199523,199523.000000,12580,199523,199523,98839,199523,198649,199523,19064,6070,199523,199523.00000,199523.000000,199523.000000,199523,15773,15773,199523,199523,199523.000000,198007,198007,198007,199523,115469,199523.000000,55291,199523,199523,199523,199523,199523.000000,1984,199523.000000,199523.000000,199523.000000,199523
unique,NaN,8,NaN,NaN,17,NaN,2,7,24,14,5,9,2,2,5,8,NaN,NaN,NaN,6,5,50,38,8,NaN,9,8,9,3,3,NaN,4,43,43,43,5,NaN,2,NaN,NaN,NaN,2
top,NaN,Private,NaN,NaN,High school graduate,NaN,High school,Never married,Not in universe or children,Adm support including clerical,White,All other,Female,No,Other job loser,Children or Armed Forces,NaN,NaN,NaN,Nonfiler,South,California,Householder,Householder,NaN,?,?,?,Not in universe under 1 year old,?,NaN,Both parents present,United-States,United-States,United-States,Native- Born in the United States,NaN,No,NaN,NaN,NaN,- 50000.
freq,NaN,72028,NaN,NaN,48407,NaN,6892,86485,100684,14837,167365,171907,103984,16034,2038,123769,NaN,NaN,NaN,75094,4889,1714,53248,75475,NaN,99696,99696,99696,101212,99696,NaN,38983,159163,160479,176989,176992,NaN,1593,NaN,NaN,NaN,187141
mean,34.494199,NaN,15.352320,11.306556,NaN,55.426908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,434.71899,37.313788,197.529533,NaN,NaN,NaN,NaN,NaN,1740.380269,NaN,NaN,NaN,NaN,NaN,1.956180,NaN,NaN,NaN,NaN,NaN,0.175438,NaN,1.514833,23.174897,94.499672,NaN
std,22.310895,NaN,18.067129,14.454204,NaN,274.896454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4697.53128,271.896428,1984.163658,NaN,NaN,NaN,NaN,NaN,993.768156,NaN,NaN,NaN,NaN,NaN,2.365126,NaN,NaN,NaN,NaN,NaN,0.553694,NaN,0.851473,24.411488,0.500001,NaN
min,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,37.870000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,94.000000,NaN
25%,15.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1061.615000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,0.000000,94.000000,NaN
50%,33.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1618.310000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,8.000000,94.000000,NaN
75%,50.000000,NaN,33.000000,26.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,2188.610000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,52.000000,95.000000,NaN
max,90.000000,NaN,51.000000,46.000000,NaN,9999.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999.00000,4608.000000,99999.000000,NaN,NaN,NaN,NaN,NaN,18656.300000,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,52.000000,95.000000,NaN

# Procedural Comments

Having taken a look at the data, it is obvious to me that the columns might not necessarily be the columns indicated in the metadata file.  Other than assuming that column 0 = age and column 41 is our prediction column, I made a decision to assume that the remaining data was mislabeled. 

My first step was to create a sparse matrix using the date provided.  Then I would perform VarianceThresholding to reduce the number of columns, followed by univariate feature selection to take the top 10% of the features.  Feature ranking with recursive feature elimination and cross-validated selection of the best number of features was too time exhausting and the section has been commented out.

In [7]:
def isOver(row):
    return 0 if row[len(learndf.columns)-1] == '- 50000.' else 1

def validate(df):
    assert isinstance(df, pd.DataFrame)
    for col in df:
        if df[col].isnull().sum() > 0:
            print("Error NaN detected for {}!".format(col))
            return False
    print("No NaNs.")
    return True

def print_scores(model, X_test, y_true, y_pred):
    if y_pred.dtype == np.float16 or y_pred.dtype == np.float32 or y_pred.dtype == np.float64:
        y_pred = GetPrediction(y_pred)
    acc_score_norm = metrics.accuracy_score(y_true, y_pred)
    acc_score_non_norm = metrics.accuracy_score(y_true, y_pred, normalize=False)
    print('Acc norm: {} Acc non-norm: {}'.format(acc_score_norm, acc_score_non_norm))
    ce_score_norm = metrics.log_loss(y_true, y_pred)
    ce_score_non_norm = metrics.log_loss(y_true, y_pred, normalize=False)
    print('CE norm: {} CE non-norm: {}'.format(ce_score_norm, ce_score_non_norm))
    matthews = metrics.matthews_corrcoef(y_true, y_pred)
    print('Matthews Cor. Coef: {}'.format(matthews))
    scores = get_roc_auc(model, X_test, y_true, y_pred)
    print('roc_auc: {} <- {}'.format(np.average(scores), scores))

def get_roc_auc(model, X_test, y_true, y_pred):
    scores = cross_val_score(model, X_test, y=y_true, scoring='roc_auc', n_jobs=-1)
    return scores

print('Loaded...')

Loaded...

# Prep Data

In [8]:
if (len(learndf.columns) == 42):
    y_train = pd.DataFrame()
    y_train['IsOver'] = learndf.apply(isOver, axis=1)
    y_test = pd.DataFrame()
    y_test['IsOver'] = testdf.apply(isOver, axis=1)
    del learndf[len(learndf.columns)-1]
    del testdf[len(testdf.columns)-1]

assert(len(learndf.columns) == len(testdf.columns))
y_train.describe()

              IsOver
count  199523.000000
mean        0.062058
std         0.241261
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [9]:
X_train = pd.DataFrame()
X_test = pd.DataFrame()

for col in learndf:
    try:
        if learndf[col].dtype.name == 'int64' or learndf[col].dtype.name == 'float64' :
            col_train = pd.DataFrame({col : learndf[col]})
            col_test = pd.DataFrame({col : testdf[col]})
        elif learndf[col].dtype.name == 'object':
            col_train = pd.get_dummies(learndf[col], prefix=str(col))
            col_test = pd.get_dummies(testdf[col], prefix=str(col))
        else:
            print('bad type')
            () + 1
        assert isinstance(col_train, pd.DataFrame)
        assert isinstance(col_test, pd.DataFrame)
        if len(col_train.columns) != len(col_test.columns):
            for newcol in col_train:
                if newcol not in col_test.columns:
                    col_test[newcol] = 0
        X_train = pd.concat([X_train, col_train], axis=1)
        X_test = pd.concat([X_test, col_test], axis=1)
    except:
        print("Exception on column {}: {}".format(col, sys.exc_info()[0]))
        raise

X_train.describe(include='all')

,0,1_Federal government,1_Local government,1_Never worked,1_Private,1_Self-employed-incorporated,1_Self-employed-not incorporated,1_State government,1_Without pay,2,3,4_10th grade,4_11th grade,4_12th grade no diploma,4_1st 2nd 3rd or 4th grade,4_5th or 6th grade,4_7th and 8th grade,4_9th grade,4_Associates degree-academic program,4_Associates degree-occup /vocational,4_Bachelors degree(BA AB BS),4_Children,4_Doctorate degree(PhD EdD),4_High school graduate,4_Less than 1st grade,...,34_Panama,34_Peru,34_Philippines,34_Poland,34_Portugal,34_Puerto-Rico,34_Scotland,34_South Korea,34_Taiwan,34_Thailand,34_Trinadad&Tobago,34_United-States,34_Vietnam,34_Yugoslavia,35_Foreign born- Not a citizen of U S,35_Foreign born- U S citizen by naturalization,35_Native- Born abroad of American Parent(s),35_Native- Born in Puerto Rico or U S Outlying,35_Native- Born in the United States,36,37_No,37_Yes,38,39,40
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,...,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,0.014660,0.039013,0.002200,0.361001,0.016364,0.042326,0.021186,0.000827,15.352320,11.306556,0.037875,0.034462,0.010655,0.009017,0.016424,0.040131,0.031224,0.021867,0.026854,0.099562,0.237677,0.00633,0.242614,0.004105,...,0.000140,0.001343,0.004235,0.001910,0.000872,0.007017,0.000376,0.002361,0.001007,0.000566,0.000331,0.887061,0.001960,0.000331,0.067165,0.029345,0.008801,0.007613,0.887076,0.175438,0.007984,0.001960,1.514833,23.174897,94.499672
std,22.310895,0.120188,0.193626,0.046855,0.480292,0.126871,0.201332,0.144003,0.028745,18.067129,14.454204,0.190895,0.182414,0.102674,0.094526,0.127100,0.196266,0.173924,0.146250,0.161657,0.299416,0.425661,0.07931,0.428664,0.063937,...,0.011845,0.036625,0.064940,0.043657,0.029518,0.083472,0.019384,0.048529,0.031724,0.023791,0.018185,0.316519,0.044225,0.018185,0.250308,0.168772,0.093400,0.086921,0.316501,0.553694,0.088996,0.044225,0.851473,24.411488,0.500001
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,94.000000
50%,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,8.000000,94.000000
75%,50.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,33.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,52.000000,95.000000
max,90.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,51.000000,46.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,52.000000,95.000000

# Feature Selection
- http://scikit-learn.org/stable/modules/feature_selection.html 
- http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.VarianceThreshold.html 
- http://scikit-learn.org/stable/auto_examples/feature_selection/plot_feature_selection.html#example-feature-selection-plot-feature-selection-py 
- http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.StratifiedKFold.html#sklearn.cross_validation.StratifiedKFold

In [10]:
from sklearn.feature_selection import VarianceThreshold

# By default, remove all zero-variance features, i.e. features that have the same value in all samples.
vt = VarianceThreshold(threshold=(.95 * (1 - .95)))
vt.fit(X_train)
supportIndices = vt.get_support(indices=True)
print(supportIndices)
vt_X_train = X_train.iloc[:, supportIndices]
vt_X_test = X_test.iloc[:, supportIndices]
vt_X_train.describe(include='all')

[  0   4   9  10  20  21  23  27  28  31  33  35  37  52  57  62  64  68
  69  71  73  78  80  81  90  91  92  99 100 101 107 108 109 112 114 115
 173 179 191 193 208 209 211 213 216 217 218 221 225 227 233 235 242 244
 245 246 247 248 250 251 253 281 295 338 381 384 388 389 392 393 394]

,0,1_Private,2,3,4_Bachelors degree(BA AB BS),4_Children,4_High school graduate,4_Some college but no degree,5,7_Divorced,7_Married-civilian spouse present,7_Never married,7_Widowed,8_Not in universe or children,8_Retail trade,9_Adm support including clerical,9_Executive admin and managerial,9_Other service,9_Precision production craft & repair,9_Professional specialty,9_Sales,10_Black,10_White,11_All other,12_Female,...,25_?,25_MSA to MSA,25_Nonmover,26_?,26_Nonmover,27_?,27_Nonmover,28_No,28_Not in universe under 1 year old,28_Yes,29_?,29_No,30,31_Both parents present,31_Mother only present,32_Mexico,32_United-States,33_United-States,34_United-States,35_Foreign born- Not a citizen of U S,35_Native- Born in the United States,36,38,39,40
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,...,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,0.361001,15.352320,11.306556,0.099562,0.237677,0.242614,0.139433,55.426908,0.063702,0.422117,0.433459,0.052440,0.504624,0.085554,0.074362,0.062624,0.060640,0.052716,0.069867,0.059056,0.102319,0.838826,0.861590,0.521163,...,0.499672,0.053132,0.413677,0.499672,0.413677,0.499672,0.413677,0.079054,0.507270,0.413677,0.499672,0.050054,1.956180,0.195381,0.064013,0.050160,0.797718,0.804313,0.887061,0.067165,0.887076,0.175438,1.514833,23.174897,94.499672
std,22.310895,0.480292,18.067129,14.454204,0.299416,0.425661,0.428664,0.346398,274.896454,0.244222,0.493898,0.495554,0.222913,0.499980,0.279705,0.262360,0.242287,0.238669,0.223466,0.254923,0.235730,0.303068,0.367693,0.345331,0.499553,...,0.500001,0.224297,0.492493,0.500001,0.492493,0.500001,0.492493,0.269823,0.499948,0.492493,0.500001,0.218058,2.365126,0.396495,0.244776,0.218275,0.401703,0.396729,0.316519,0.250308,0.316501,0.553694,0.851473,24.411488,0.500001
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,94.000000
50%,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.000000,8.000000,94.000000
75%,50.000000,1.000000,33.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.000000,52.000000,95.000000
max,90.000000,1.000000,51.000000,46.000000,1.000000,1.000000,1.000000,1.000000,9999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,52.000000,95.000000

In [ ]:
# import matplotlib.pyplot as plt
# from sklearn.svm import SVC
# from sklearn.cross_validation import StratifiedKFold
# from sklearn.feature_selection import RFECV

# # Create the RFE object and compute a cross-validated score.
# svc = SVC(kernel="linear")
# # The "accuracy" scoring is proportional to the number of correct classifications
# rfecv = RFECV(estimator=svc, step=1, cv=StratifiedKFold(y_train.IsOver.values, 3), scoring='accuracy')
# rfecv.fit(X_train, y_train.IsOver.ravel())

# print("Optimal number of features : %d" % rfecv.n_features_)

# # Plot number of features VS. cross-validation scores
# plt.figure()
# plt.xlabel("Number of features selected")
# plt.ylabel("Cross validation score (nb of correct classifications)")
# plt.plot(range(1, len(rfecv.grid_scores_) + 1), rfecv.grid_scores_)
# plt.show()

In [11]:
selector = SelectPercentile(f_classif, percentile=10)
selector.fit(X_train, y_train.IsOver.ravel())

supportIndices = selector.get_support(indices=True)
print(len(supportIndices))
print(supportIndices)

spf_X_train = X_train.iloc[:, supportIndices]
spf_X_test = X_test.iloc[:, supportIndices]
spf_X_train.describe(include='all')

40
[  0   1   4   5   9  20  21  22  25  26  33  35  45  48  52  53  56  64
  71  73  81  90  91  99 100 101 107 108 109 112 114 179 191 211 213 250
 251 253 392 393]

,0,1_Federal government,1_Private,1_Self-employed-incorporated,2,4_Bachelors degree(BA AB BS),4_Children,4_Doctorate degree(PhD EdD),4_Masters degree(MA MS MEng MEd MSW MBA),4_Prof school degree (MD DDS DVM LLB JD),7_Married-civilian spouse present,7_Never married,8_Finance insurance and real estate,8_Manufacturing-durable goods,8_Not in universe or children,8_Other professional services,8_Public administration,9_Executive admin and managerial,9_Professional specialty,9_Sales,11_All other,12_Female,12_Male,15_Children or Armed Forces,15_Full-time schedules,15_Not in labor force,16,17,18,19_Joint both under 65,19_Nonfiler,22_Child <18 never marr not in subfamily,22_Householder,23_Child under 18 never married,23_Householder,30,31_Both parents present,31_Mother only present,38,39
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,0.014660,0.361001,0.016364,15.352320,0.099562,0.237677,0.00633,0.032783,0.008986,0.422117,0.433459,0.030798,0.045183,0.504624,0.022464,0.023105,0.062624,0.069867,0.059056,0.861590,0.521163,0.478837,0.620324,0.204167,0.13436,434.71899,37.313788,197.529533,0.337720,0.376368,0.252232,0.266877,0.252733,0.378277,1.956180,0.195381,0.064013,1.514833,23.174897
std,22.310895,0.120188,0.480292,0.126871,18.067129,0.299416,0.425661,0.07931,0.178069,0.094370,0.493898,0.495554,0.172772,0.207705,0.499980,0.148186,0.150238,0.242287,0.254923,0.235730,0.345331,0.499553,0.499553,0.485307,0.403093,0.34104,4697.53128,271.896428,1984.163658,0.472934,0.484475,0.434295,0.442328,0.434580,0.484958,2.365126,0.396495,0.244776,0.851473,24.411488
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
50%,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000,8.000000
75%,50.000000,0.000000,1.000000,0.000000,33.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.00000,0.00000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,0.000000,0.000000,2.000000,52.000000
max,90.000000,1.000000,1.000000,1.000000,51.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,99999.00000,4608.000000,99999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,1.000000,1.000000,2.000000,52.000000

In [12]:
selector = SelectPercentile(chi2, percentile=10)
selector.fit(X_train, y_train.IsOver.ravel())

supportIndices = selector.get_support(indices=True)
print(len(supportIndices))
print(supportIndices)

spc_X_train = X_train.iloc[:, supportIndices]
spc_X_test = X_test.iloc[:, supportIndices]
spc_X_train.describe(include='all')

40
[  0   1   4   5   9  20  21  22  25  26  28  33  35  45  48  52  53  56
  64  71  73  90  91 100 101 107 108 109 112 114 179 191 211 213 217 250
 251 253 392 393]

,0,1_Federal government,1_Private,1_Self-employed-incorporated,2,4_Bachelors degree(BA AB BS),4_Children,4_Doctorate degree(PhD EdD),4_Masters degree(MA MS MEng MEd MSW MBA),4_Prof school degree (MD DDS DVM LLB JD),5,7_Married-civilian spouse present,7_Never married,8_Finance insurance and real estate,8_Manufacturing-durable goods,8_Not in universe or children,8_Other professional services,8_Public administration,9_Executive admin and managerial,9_Professional specialty,9_Sales,12_Female,12_Male,15_Full-time schedules,15_Not in labor force,16,17,18,19_Joint both under 65,19_Nonfiler,22_Child <18 never marr not in subfamily,22_Householder,23_Child under 18 never married,23_Householder,24,30,31_Both parents present,31_Mother only present,38,39
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,0.014660,0.361001,0.016364,15.352320,0.099562,0.237677,0.00633,0.032783,0.008986,55.426908,0.422117,0.433459,0.030798,0.045183,0.504624,0.022464,0.023105,0.062624,0.069867,0.059056,0.521163,0.478837,0.204167,0.13436,434.71899,37.313788,197.529533,0.337720,0.376368,0.252232,0.266877,0.252733,0.378277,1740.380269,1.956180,0.195381,0.064013,1.514833,23.174897
std,22.310895,0.120188,0.480292,0.126871,18.067129,0.299416,0.425661,0.07931,0.178069,0.094370,274.896454,0.493898,0.495554,0.172772,0.207705,0.499980,0.148186,0.150238,0.242287,0.254923,0.235730,0.499553,0.499553,0.403093,0.34104,4697.53128,271.896428,1984.163658,0.472934,0.484475,0.434295,0.442328,0.434580,0.484958,993.768156,2.365126,0.396495,0.244776,0.851473,24.411488
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.870000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1061.615000,0.000000,0.000000,0.000000,2.000000,0.000000
50%,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1618.310000,1.000000,0.000000,0.000000,2.000000,8.000000
75%,50.000000,0.000000,1.000000,0.000000,33.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.00000,0.00000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2188.610000,4.000000,0.000000,0.000000,2.000000,52.000000
max,90.000000,1.000000,1.000000,1.000000,51.000000,1.000000,1.000000,1.00000,1.000000,1.000000,9999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,99999.00000,4608.000000,99999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,18656.300000,6.000000,1.000000,1.000000,2.000000,52.000000

In [13]:
selector = SelectKBest(f_classif)
selector.fit(X_train, y_train.IsOver.ravel())

supportIndices = selector.get_support(indices=True)
print(len(supportIndices))
print(supportIndices)

kbf_X_train = X_train.iloc[:, supportIndices]
kbf_X_test = X_test.iloc[:, supportIndices]
kbf_X_train.describe(include='all')

10
[ 52  64  71 107 112 114 191 213 250 393]

,8_Not in universe or children,9_Executive admin and managerial,9_Professional specialty,16,19_Joint both under 65,19_Nonfiler,22_Householder,23_Householder,30,39
count,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,0.504624,0.062624,0.069867,434.71899,0.337720,0.376368,0.266877,0.378277,1.956180,23.174897
std,0.499980,0.242287,0.254923,4697.53128,0.472934,0.484475,0.442328,0.484958,2.365126,24.411488
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,8.000000
75%,1.000000,0.000000,0.000000,0.00000,1.000000,1.000000,1.000000,1.000000,4.000000,52.000000
max,1.000000,1.000000,1.000000,99999.00000,1.000000,1.000000,1.000000,1.000000,6.000000,52.000000

In [14]:
selector = SelectKBest(chi2)
selector.fit(X_train, y_train.IsOver.ravel())

supportIndices = selector.get_support(indices=True)
print(len(supportIndices))
print(supportIndices)

kbc_X_train = X_train.iloc[:, supportIndices]
kbc_X_test = X_test.iloc[:, supportIndices]
kbc_X_train.describe(include='all')

10
[  0   9  28  64 107 108 109 217 250 393]

,0,2,5,9_Executive admin and managerial,16,17,18,24,30,39
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,15.352320,55.426908,0.062624,434.71899,37.313788,197.529533,1740.380269,1.956180,23.174897
std,22.310895,18.067129,274.896454,0.242287,4697.53128,271.896428,1984.163658,993.768156,2.365126,24.411488
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,37.870000,0.000000,0.000000
25%,15.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1061.615000,0.000000,0.000000
50%,33.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1618.310000,1.000000,8.000000
75%,50.000000,33.000000,0.000000,0.000000,0.00000,0.000000,0.000000,2188.610000,4.000000,52.000000
max,90.000000,51.000000,9999.000000,1.000000,99999.00000,4608.000000,99999.000000,18656.300000,6.000000,52.000000

# Build Model

In [39]:
data = [(X_train, X_test), (vt_X_train, vt_X_test), (spf_X_train, spf_X_test), 
        (spc_X_train, spc_X_test), (kbf_X_train, kbf_X_test), (kbc_X_train, kbc_X_test)]

for count, (train, test) in enumerate(data):
    print('{} Logistic Regression'.format(count))
    logReg = LogisticRegression()
    logReg.fit(train, y_train.IsOver.ravel())
    y_pred = logReg.predict(test)
    print_scores(logReg, test, y_test.IsOver.values, y_pred)
    print('{} Random Forest'.format(count))
    rf = RandomForestClassifier(n_estimators=500, min_samples_leaf=5, n_jobs=-1)
    rf.fit(train, y_train.IsOver.ravel())
    y_pred = rf.predict(test)
    print_scores(rf, test, y_test.IsOver.values, y_pred)

# adamNN = MLPClassifier(hidden_layer_sizes=(100, ), activation='relu', algorithm='adam', alpha=0.0001, batch_size='auto', learning_rate='constant', learning_rate_init=0.001, power_t=0.5, max_iter=200, shuffle=True, random_state=None, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True, early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08)
# adamNN.fit(X_train, y_train.IsOver.ravel())
# y_pred = adamNN.predict(X_test)
# print_scores(adamNN, X_test, y_test.IsOver.values, y_pred)

# bfgsNN = MLPClassifier(algorithm='l-bfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
# bfgsNN.fit(X_train, y_train.IsOver.ravel())
# y_pred = bfgsNN.predict(X_test)
# print_scores(bfgsNN, X_test, y_test.IsOver.values, y_pred)

0 Logistic Regression
Acc norm: 0.9509933642068122 Acc non-norm: 94873
CE norm: 1.6926341006631636 CE non-norm: 168860.56315035853
Matthews Cor. Coef: 0.4638988103168886
roc_auc: 0.9431312210256936 <- [ 0.94360981  0.94483573  0.94094812]
0 Random Forest
Acc norm: 0.9511737936288366 Acc non-norm: 94891
CE norm: 1.6863997644600106 CE non-norm: 168238.6133020596
Matthews Cor. Coef: 0.45297383596350244
roc_auc: 0.9473797399658214 <- [ 0.94905869  0.94755406  0.94552647]
1 Logistic Regression
Acc norm: 0.9490587598484392 Acc non-norm: 94680
CE norm: 1.759452126429363 CE non-norm: 175526.4630368461
Matthews Cor. Coef: 0.4263580295836432
roc_auc: 0.9359663420209299 <- [ 0.9381811   0.93649639  0.93322153]
1 Random Forest
Acc norm: 0.9534792806880376 Acc non-norm: 95121
CE norm: 1.6067725532402337 CE non-norm: 160294.8434563522
Matthews Cor. Coef: 0.4966035164082199
roc_auc: 0.945552086606139 <- [ 0.94734978  0.94532427  0.94398222]
2 Logistic Regression
Acc norm: 0.9512439606262906 Acc non-norm: 94898
CE norm: 1.6839834476794555 CE non-norm: 167997.55670739783
Matthews Cor. Coef: 0.5016187774798228
roc_auc: 0.9391667857625875 <- [ 0.94004212  0.93997288  0.93748535]
2 Random Forest
Acc norm: 0.9542511176600309 Acc non-norm: 95198
CE norm: 1.5801158917365057 CE non-norm: 157635.5215914173
Matthews Cor. Coef: 0.5168768527705072
roc_auc: 0.9461959120019418 <- [ 0.94781972  0.94601861  0.94474941]
3 Logistic Regression
Acc norm: 0.9510434834907079 Acc non-norm: 94878
CE norm: 1.6909063441242678 CE non-norm: 168688.1987025252
Matthews Cor. Coef: 0.48842737556162835
roc_auc: 0.9387558970619856 <- [ 0.93944428  0.93963472  0.93718869]
3 Random Forest
Acc norm: 0.9545919287905215 Acc non-norm: 95232
CE norm: 1.5683445720818432 CE non-norm: 156461.19120002884
Matthews Cor. Coef: 0.5211114592009914
roc_auc: 0.9464213831760852 <- [ 0.94828742  0.94628237  0.94469436]
4 Logistic Regression
Acc norm: 0.942693610793689 Acc non-norm: 94045
CE norm: 1.9792948390707343 CE non-norm: 197458.4117353746
Matthews Cor. Coef: 0.28223047880786395
roc_auc: 0.8982149511588563 <- [ 0.8998166   0.9002067   0.89462156]
4 Random Forest
Acc norm: 0.9444678334435958 Acc non-norm: 94222
CE norm: 1.9180141734634006 CE non-norm: 191344.92997305578
Matthews Cor. Coef: 0.3156207950113496
roc_auc: 0.9044397342301452 <- [ 0.90647969  0.90517881  0.90166071]
5 Logistic Regression
Acc norm: 0.9453399089833805 Acc non-norm: 94309
CE norm: 1.8878954986762326 CE non-norm: 188340.23073893832
Matthews Cor. Coef: 0.3475359635917877
roc_auc: 0.898900947290405 <- [ 0.89788089  0.89873689  0.90008506]
5 Random Forest
Acc norm: 0.9504320282271806 Acc non-norm: 94817
CE norm: 1.7120219505310246 CE non-norm: 170794.73382887608
Matthews Cor. Coef: 0.45487867348065864
roc_auc: 0.9198275491066998 <- [ 0.91953784  0.91740888  0.92253593]

In [15]:
# models = []
# rocs = []

# for (train, test) in data:
#     model = LogisticRegression()
#     roc_auc = 0
#     roc_auc_list = [roc_auc] 
#     goodFeatures_train = pd.DataFrame()
#     goodFeatures_test = pd.DataFrame()

#     for col in train:
#         temp_train = pd.concat([goodFeatures_train, train[col]], axis=1)
#         temp_test = pd.concat([goodFeatures_test, test[col]], axis=1)
#         model.fit(temp_train, y_train.IsOver.ravel())
#         y_pred = model.predict(temp_test)
#         scores = get_roc_auc(model, temp_test, y_test.IsOver.values, y_pred)
#         new_roc_auc = np.average(scores)
#         print('{} roc_auc: {} <- {}'.format(col, np.average(scores), scores))
#         if new_roc_auc > roc_auc:
#             goodFeatures_train = temp_train
#             goodFeatures_test = temp_test
#             roc_auc = new_roc_auc
#             roc_auc_list.append(roc_auc)
#     model.fit(goodFeatures_train, y_train.IsOver.ravel())
#     y_pred = model.predict(goodFeatures_test)
#     print_scores(model, goodFeatures_test, y_test.IsOver.values, y_pred)
#     models.append(model)
#     rocs.append(roc_auc_list)

# Model Analysis

In [44]:
X_train.describe(include='all')

Acc norm: 0.9391351416370963 Acc non-norm: 93690
CE norm: 2.1022029831620705 CE non-norm: 209719.9740062145
Matthews Cor. Coef: 0.23851670022483315
roc_auc: 0.8875778974389466 <- [ 0.88924118  0.89113586  0.88235665]

In [28]:
#ToDo: Graph roc_auc

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41
count,199523.000000,99278,199523.000000,199523.000000,199523,199523.000000,12580,199523,199523,98839,199523,198649,199523,19064,6070,199523,199523.00000,199523.000000,199523.000000,199523,15773,15773,199523,199523,199523.000000,198007,198007,198007,199523,115469,199523.000000,55291,199523,199523,199523,199523,199523.000000,1984,199523.000000,199523.000000,199523.000000,199523
unique,NaN,8,NaN,NaN,17,NaN,2,7,24,14,5,9,2,2,5,8,NaN,NaN,NaN,6,5,50,38,8,NaN,9,8,9,3,3,NaN,4,43,43,43,5,NaN,2,NaN,NaN,NaN,2
top,NaN,Private,NaN,NaN,High school graduate,NaN,High school,Never married,Not in universe or children,Adm support including clerical,White,All other,Female,No,Other job loser,Children or Armed Forces,NaN,NaN,NaN,Nonfiler,South,California,Householder,Householder,NaN,?,?,?,Not in universe under 1 year old,?,NaN,Both parents present,United-States,United-States,United-States,Native- Born in the United States,NaN,No,NaN,NaN,NaN,- 50000.
freq,NaN,72028,NaN,NaN,48407,NaN,6892,86485,100684,14837,167365,171907,103984,16034,2038,123769,NaN,NaN,NaN,75094,4889,1714,53248,75475,NaN,99696,99696,99696,101212,99696,NaN,38983,159163,160479,176989,176992,NaN,1593,NaN,NaN,NaN,187141
mean,34.494199,NaN,15.352320,11.306556,NaN,55.426908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,434.71899,37.313788,197.529533,NaN,NaN,NaN,NaN,NaN,1740.380269,NaN,NaN,NaN,NaN,NaN,1.956180,NaN,NaN,NaN,NaN,NaN,0.175438,NaN,1.514833,23.174897,94.499672,NaN
std,22.310895,NaN,18.067129,14.454204,NaN,274.896454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4697.53128,271.896428,1984.163658,NaN,NaN,NaN,NaN,NaN,993.768156,NaN,NaN,NaN,NaN,NaN,2.365126,NaN,NaN,NaN,NaN,NaN,0.553694,NaN,0.851473,24.411488,0.500001,NaN
min,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,37.870000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,94.000000,NaN
25%,15.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1061.615000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,0.000000,94.000000,NaN
50%,33.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1618.310000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,8.000000,94.000000,NaN
75%,50.000000,NaN,33.000000,26.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,2188.610000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,52.000000,95.000000,NaN
max,90.000000,NaN,51.000000,46.000000,NaN,9999.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999.00000,4608.000000,99999.000000,NaN,NaN,NaN,NaN,NaN,18656.300000,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,52.000000,95.000000,NaN

In [27]:
learndf.isnull().sum()

0          0
1     100245
2          0
3          0
4          0
5          0
6     186943
7          0
8          0
9     100684
10         0
11       874
12         0
13    180459
14    193453
15         0
16         0
17         0
18         0
19         0
20    183750
21    183750
22         0
23         0
24         0
25      1516
26      1516
27      1516
28         0
29     84054
30         0
31    144232
32         0
33         0
34         0
35         0
36         0
37    197539
38         0
39         0
40         0
41         0
dtype: int64