In [1]:
%matplotlib inline

This US Census dataset contains detailed but anonymised information for approximately 300,000 people.

The archive contains 3 files:
o   A large learning .csv file
o   Another test .csv file
o   A metadata file describing the columns of the two above mentioned files (identical for both)

The goal of this exercise is to “modelize” / “predict” the information contained in the last column (42nd), i.e., which people save more or less than $50,000 / year, from the information contained in the other columns.
The exercise here consists of modelizing a binary variable.

# Load Libraries

In [2]:
from pprint import pprint
import matplotlib.pyplot as Plot
import pandas as pd
from sklearn.cross_validation import cross_val_score
from sklearn import metrics
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from IPython.display import display, HTML
pd.set_option('display.max_columns', 50)

print('Loaded...')

Loaded...

# Read Data

In [3]:
learndf = pd.read_csv("census_income_learn.csv", header = None, skipinitialspace = True, na_values= "Not in universe")
testdf = pd.read_csv("census_income_test.csv", header = None, skipinitialspace = True, na_values= "Not in universe")

display(learndf)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41
0,73,NaN,0,0,High school graduate,0,NaN,Widowed,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Not in labor force,0,0,0,Nonfiler,NaN,NaN,Other Rel 18+ ever marr not in subfamily,Other relative of householder,1700.09,?,?,?,Not in universe under 1 year old,?,0,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,NaN,Divorced,Construction,Precision production craft & repair,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Head of household,South,Arkansas,Householder,Householder,1053.55,MSA to MSA,Same county,Same county,No,Yes,1,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
2,18,NaN,0,0,10th grade,0,High school,Never married,Not in universe or children,NaN,Asian or Pacific Islander,All other,Female,NaN,NaN,Not in labor force,0,0,0,Nonfiler,NaN,NaN,Child 18+ never marr Not in a subfamily,Child 18 or older,991.95,?,?,?,Not in universe under 1 year old,?,0,NaN,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,NaN,2,0,95,- 50000.
3,9,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1758.14,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
4,10,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1069.16,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
5,48,Private,40,10,Some college but no degree,1200,NaN,Married-civilian spouse present,Entertainment,Professional specialty,Amer Indian Aleut or Eskimo,All other,Female,No,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,162.61,?,?,?,Not in universe under 1 year old,?,1,NaN,Philippines,United-States,United-States,Native- Born in the United States,2,NaN,2,52,95,- 50000.
6,42,Private,34,3,Bachelors degree(BA AB BS),0,NaN,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,White,All other,Male,NaN,NaN,Children or Armed Forces,5178,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1535.86,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
7,28,Private,4,40,High school graduate,0,NaN,Never married,Construction,Handlers equip cleaners etc,White,All other,Female,NaN,Job loser - on layoff,Unemployed full-time,0,0,0,Single,NaN,NaN,Secondary individual,Nonrelative of householder,898.83,?,?,?,Not in universe under 1 year old,?,4,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,30,95,- 50000.
8,47,Local government,43,26,Some college but no degree,876,NaN,Married-civilian spouse present,Education,Adm support including clerical,White,All other,Female,No,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,1661.53,?,?,?,Not in universe under 1 year old,?,5,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
9,34,Private,4,37,Some college but no degree,0,NaN,Married-civilian spouse present,Construction,Machine operators assmblrs & inspctrs,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1146.79,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
10,8,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,2466.24,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
11,32,NaN,0,0,High school graduate,0,NaN,Never married,Not in universe or children,NaN,Black,All other,Female,NaN,NaN,Not in labor force,0,0,0,Nonfiler,NaN,NaN,Other Rel 18+ never marr not in subfamily,Other relative of householder,2021.27,?,?,?,Not in universe under 1 year old,?,0,NaN,?,?,?,Foreign born- Not a citizen of U S,0,NaN,2,0,95,- 50000.
12,51,Private,4,34,Some college but no degree,0,NaN,Married-civilian spouse present,Construction,Precision production craft & repair,White,Do not know,Male,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,2441.22,Nonmover,Nonmover,Nonmover,Yes,NaN,3,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
13,46,Private,37,31,High school graduate,0,NaN,Divorced,Business and repair services,Other service,White,Central or South American,Female,NaN,NaN,Children or Armed Forces,0,1590,0,Single,NaN,NaN,Householder,Householder,978.16,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,Columbia,Columbia,Columbia,Foreign born- Not a citizen of U S,0,NaN,2,52,94,- 50000.
14,26,Private,24,12,Bachelors degree(BA AB BS),0,NaN,Never married,Manufacturing-nondurable goods,Professional specialty,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Single,NaN,NaN,Nonfamily householder,Householder,2604.91,?,?,?,Not in universe under 1 year old,?,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
15,13,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,Black,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1520.08,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
16,47,Private,39,36,Bachelors degree(BA AB BS),0,NaN,Never married,Personal services except private HH,Machine operators assmblrs & inspctrs,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Single,NaN,NaN,Nonfamily householder,Householder,404.90,?,?,?,Not in universe under 1 year old,?,6,NaN,Germany,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
17,39,NaN,0,0,10th grade,0,NaN,Married-civilian spouse present,Not in universe or children,NaN,White,Mexican (Mexicano),Female,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,1274.04,Nonmover,Nonmover,Nonmover,Yes,NaN,0,NaN,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,NaN,2,0,94,- 50000.
18,16,NaN,0,0,10th grade,0,High school,Never married,Not in universe or children,NaN,White,Mexican-American,Female,NaN,NaN,Not in labor force,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1555.29,?,?,?,Not in universe under 1 year old,?,0,Both parents present,United-States,El-Salvador,United-States,Native- Born in the United States,0,NaN,2,0,95,- 50000.
19,35,Private,12,41,High school graduate,0,NaN,Married-civilian spouse present,Manufacturing-durable goods,Handlers equip cleaners etc,White,All other,Male,NaN,NaN,Full-time schedules,0,0,6000,Joint both under 65,NaN,NaN,Householder,Householder,1790.75,?,?,?,Not in universe under 1 year old,?,4,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,49,95,- 50000.
20,12,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,Other,Mexican-American,Male,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,South,Utah,Child <18 never marr not in subfamily,Child under 18 never married,455.02,MSA to MSA,Different region,Different state in South,No,Yes,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
21,27,Self-employed-not incorporated,4,34,Some college but no degree,0,NaN,Married-civilian spouse present,Construction,Precision production craft & repair,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1004.69,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,1,NaN,2,52,94,- 50000.
22,56,Private,35,22,Some college but no degree,500,NaN,Married-civilian spouse present,Finance insurance and real estate,Adm support including clerical,White,All other,Female,No,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,1500.08,?,?,?,Not in universe under 1 year old,?,2,NaN,United-States,United-States,United-States,Native- Born in the United States,2,NaN,2,32,95,- 50000.
23,46,Private,45,12,Masters degree(MA MS MEng MEd MSW MBA),0,NaN,Married-civilian spouse present,Other professional services,Professional specialty,White,All other,Male,NaN,NaN,Children or Armed Forces,0,1977,100,Joint both under 65,NaN,NaN,Householder,Householder,999.46,Nonmover,Nonmover,Nonmover,Yes,NaN,1,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
24,55,NaN,0,0,Some college but no degree,0,NaN,Married-civilian spouse present,Not in universe or children,NaN,Asian or Pacific Islander,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1483.69,Nonmover,Nonmover,Nonmover,Yes,NaN,0,NaN,Japan,United-States,United-States,Native- Born in the United States,0,NaN,2,0,94,- 50000.
25,2,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1660.53,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
26,1,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,Other,Central or South American,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,Northeast,Michigan,Child <18 never marr not in subfamily,Child under 18 never married,848.25,MSA to MSA,Different county same state,Different county same state,No,No,0,Mother only present,?,?,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
27,37,Private,3,34,Some college but no degree,0,NaN,Married-civilian spouse present,Mining,Precision production craft & repair,White,All other,Male,NaN,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,2671.99,?,?,?,Not in universe under 1 year old,?,3,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
28,4,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1188.42,?,?,?,Not in universe under 1 year old,?,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,95,- 50000.
29,37,Private,4,2,Bachelors degree(BA AB BS),0,NaN,Never married,Construction,Executive admin and managerial,White,All other,Male,NaN,NaN,Children or Armed Forces,0,1669,700,Single,NaN,NaN,Secondary individual,Nonrelative of householder,1331.35,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199493,13,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1564.81,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199494,5,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,2031.30,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199495,44,Self-employed-not incorporated,38,2,Some college but no degree,0,NaN,Married-civilian spouse present,Business and repair services,Executive admin and managerial,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1605.37,Nonmover,Nonmover,Nonmover,Yes,NaN,1,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,50,94,- 50000.
199496,1,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Male,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,2340.77,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199497,40,Self-employed-not incorporated,35,17,Bachelors degree(BA AB BS),0,NaN,Married-civilian spouse present,Finance insurance and real estate,Sales,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,495.87,?,?,?,Not in universe under 1 year old,?,1,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,50,95,- 50000.
199498,50,Private,42,26,High school graduate,0,NaN,Married-civilian spouse present,Medical except hospital,Adm support including clerical,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,308.53,Nonmover,Nonmover,Nonmover,Yes,NaN,3,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
199499,59,Private,24,2,Bachelors degree(BA AB BS),0,NaN,Married-civilian spouse present,Manufacturing-nondurable goods,Executive admin and managerial,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Joint one under 65 & one 65+,NaN,NaN,Spouse of householder,Spouse of householder,1534.37,?,?,?,Not in universe under 1 year old,?,2,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,50000+.
199500,74,State government,44,42,7th and 8th grade,0,NaN,Widowed,Social services,Handlers equip cleaners etc,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Single,NaN,NaN,Nonfamily householder,Householder,2358.27,Nonmover,Nonmover,Nonmover,Yes,NaN,5,NaN,?,United-States,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
199501,13,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child under 18 of RP of unrel subfamily,Nonrelative of householder,2238.27,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Mother only present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199502,50,Federal government,29,2,Some college but no degree,0,NaN,Married-civilian spouse present,Transportation,Executive admin and managerial,White,Other Spanish,Male,NaN,NaN,PT for non-econ reasons usually FT,0,0,0,Joint both under 65,NaN,NaN,Householder,Householder,1668.75,?,?,?,Not in universe under 1 year old,?,4,NaN,United-States,United-States,United-States,Native- Born in the United States,2,NaN,2,48,95,- 50000.
199503,24,Private,33,29,11th grade,0,NaN,Never married,Retail trade,Other service,White,All other,Female,NaN,NaN,Full-time schedules,0,0,0,Head of household,NaN,NaN,Householder,Householder,3790.89,?,?,?,Not in universe under 1 year old,?,6,NaN,United-States,United-States,United-States,Native- Born in the United States,2,NaN,2,52,95,- 50000.
199504,43,Private,22,36,High school graduate,0,NaN,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,White,Mexican (Mexicano),Female,NaN,NaN,Full-time schedules,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,2226.60,?,?,?,Not in universe under 1 year old,?,4,NaN,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,NaN,2,52,95,- 50000.
199505,33,Private,34,3,High school graduate,0,NaN,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,White,Other Spanish,Female,NaN,NaN,PT for non-econ reasons usually FT,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,270.24,?,?,?,Not in universe under 1 year old,?,6,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.
199506,14,NaN,0,0,Children,0,NaN,Never married,Not in universe or children,NaN,White,All other,Female,NaN,NaN,Children or Armed Forces,0,0,0,Nonfiler,NaN,NaN,Child <18 never marr not in subfamily,Child under 18 never married,1796.74,Nonmover,Nonmover,Nonmover,Yes,NaN,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,NaN,0,0,94,- 50000.
199507,25,Self-employed-incorporated,33,16,Some college but no degree,0,NaN,Never married,Retail trade,Sales,Other,Central or South American,Female,NaN,NaN,Children or Armed Forces,0,0,0,Single,NaN,NaN,Child 18+ never marr Not in a subfamily,Child 18 or older,512.95,Nonmover,Nonmover,Nonmover,Yes,NaN,1,NaN,?,?,?,Foreign born- U S citizen by naturalization,0,NaN,2,52,94,- 50000.
199508,62,Private,4,2,Some college but no degree,0,NaN,Married-spouse absent,Construction,Executive admin and managerial,White,All other,Male,NaN,NaN,Full-time schedules,0,0,0,Single,NaN,NaN,Nonfamily householder,Householder,1776.29,?,?,?,Not in universe under 1 year old,?,6,NaN,Greece,United-States,United-States,Native- Born in the United States,2,Yes,1,52,95,50000+.
199509,47,Local government,43,12,Doctorate degree(PhD EdD),0,NaN,Married-civilian spouse present,Education,Professional specialty,White,All other,Female,No,NaN,Children or Armed Forces,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,2625.77,Nonmover,Nonmover,Nonmover,Yes,NaN,6,NaN,United-States,United-States,United-States,Native- Born in the United States,2,NaN,2,52,94,50000+.
199510,25,Private,33,41,Some college but no degree,0,NaN,Never married,Retail trade,Handlers equip cleaners etc,Amer Indian Aleut or Eskimo,All other,Male,NaN,Job leaver,Children or Armed Forces,0,0,0,Single,Midwest,Wyoming,Nonfamily householder,Householder,2764.79,MSA to MSA,Different division same region,Different state in Midwest,No,No,4,NaN,United-States,Germany,United-States,Native- Born in the United States,0,NaN,2,52,94,- 50000.
199511,47,Private,23,37,Some college but no degree,0,NaN,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,White,All other,Female,NaN,NaN,PT for non-econ reasons usually FT,0,0,0,Joint both under 65,NaN,NaN,Spouse of householder,Spouse of householder,2280.93,?,?,?,Not in universe under 1 year old,?,5,NaN,United-States,United-States,United-States,Native- Born in the United States,0,NaN,2,52,95,- 50000.

# Analysis
Based on the learning file, make a quick statistic based and univariate audit of the different columns’ content and produce the results in visual / graphic format

In [4]:
learndf.describe()

,0,2,3,5,16,17,18,24,30,36,38,39,40
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,15.352320,11.306556,55.426908,434.71899,37.313788,197.529533,1740.380269,1.956180,0.175438,1.514833,23.174897,94.499672
std,22.310895,18.067129,14.454204,274.896454,4697.53128,271.896428,1984.163658,993.768156,2.365126,0.553694,0.851473,24.411488,0.500001
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,37.870000,0.000000,0.000000,0.000000,0.000000,94.000000
25%,15.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1061.615000,0.000000,0.000000,2.000000,0.000000,94.000000
50%,33.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1618.310000,1.000000,0.000000,2.000000,8.000000,94.000000
75%,50.000000,33.000000,26.000000,0.000000,0.00000,0.000000,0.000000,2188.610000,4.000000,0.000000,2.000000,52.000000,95.000000
max,90.000000,51.000000,46.000000,9999.000000,99999.00000,4608.000000,99999.000000,18656.300000,6.000000,2.000000,2.000000,52.000000,95.000000

In [5]:
for col in learndf.columns:
    print('{} : {} {}% NaN'.format(col, learndf[col].dtype, (learndf[col].isnull().sum() / len(learndf.index)) * 100))
    print(learndf[col].unique())

0 : int64 0.0% NaN
[73 58 18  9 10 48 42 28 47 34  8 32 51 46 26 13 39 16 35 12 27 56 55  2  1
 37  4 63 25 81 11 30  7 66 84 52  5 36 72 61 41 90 49  6  0 33 57 50 24 17
 53 40 54 22 29 85 38 76 21 31 74 19 15  3 43 68 71 45 62 23 69 75 44 59 60
 64 65 70 67 78 20 14 83 86 89 77 79 82 80 87 88]
1 : object 50.24232795216591% NaN
[nan 'Self-employed-not incorporated' 'Private' 'Local government'
 'Federal government' 'Self-employed-incorporated' 'State government'
 'Never worked' 'Without pay']
2 : int64 0.0% NaN
[ 0  4 40 34 43 37 24 39 12 35 45  3 19 29 32 48 33 23 44 36 31 30 41  5 11
  9 42  6 18 50  2  1 26 47 16 14 22 17  7  8 25 46 27 15 13 49 38 21 28 20
 51 10]
3 : int64 0.0% NaN
[ 0 34 10  3 40 26 37 31 12 36 41 22  2 35 25 23 42  8 19 29 27 16 33 13 18
  9 17 39 32 11 30 38 20  7 21 44 24 43 28  4  1  6 45 14  5 15 46]
4 : object 0.0% NaN
['High school graduate' 'Some college but no degree' '10th grade'
 'Children' 'Bachelors degree(BA AB BS)'
 'Masters degree(MA MS MEng MEd MSW MBA)' 'Less than 1st grade'
 'Associates degree-academic program' '7th and 8th grade'
 '12th grade no diploma' 'Associates degree-occup /vocational'
 'Prof school degree (MD DDS DVM LLB JD)' '5th or 6th grade' '11th grade'
 'Doctorate degree(PhD EdD)' '9th grade' '1st 2nd 3rd or 4th grade']
5 : int64 0.0% NaN
[   0 1200  876 ..., 3156 2188 1092]
6 : object 93.694962485528% NaN
[nan 'High school' 'College or university']
7 : object 0.0% NaN
['Widowed' 'Divorced' 'Never married' 'Married-civilian spouse present'
 'Separated' 'Married-spouse absent' 'Married-A F spouse present']
8 : object 0.0% NaN
['Not in universe or children' 'Construction' 'Entertainment'
 'Finance insurance and real estate' 'Education'
 'Business and repair services' 'Manufacturing-nondurable goods'
 'Personal services except private HH' 'Manufacturing-durable goods'
 'Other professional services' 'Mining' 'Transportation' 'Wholesale trade'
 'Public administration' 'Retail trade' 'Social services'
 'Private household services' 'Utilities and sanitary services'
 'Communications' 'Hospital services' 'Medical except hospital'
 'Agriculture' 'Forestry and fisheries' 'Armed Forces']
9 : object 50.462352711216255% NaN
[nan 'Precision production craft & repair' 'Professional specialty'
 'Executive admin and managerial' 'Handlers equip cleaners etc '
 'Adm support including clerical' 'Machine operators assmblrs & inspctrs'
 'Other service' 'Sales' 'Private household services'
 'Technicians and related support' 'Transportation and material moving'
 'Farming forestry and fishing' 'Protective services' 'Armed Forces']
10 : object 0.0% NaN
['White' 'Asian or Pacific Islander' 'Amer Indian Aleut or Eskimo' 'Black'
 'Other']
11 : object 0.43804473669702243% NaN
['All other' 'Do not know' 'Central or South American' 'Mexican (Mexicano)'
 'Mexican-American' 'Other Spanish' 'Puerto Rican' 'Cuban' 'Chicano' nan]
12 : object 0.0% NaN
['Female' 'Male']
13 : object 90.44521183021507% NaN
[nan 'No' 'Yes']
14 : object 96.95774421996461% NaN
[nan 'Job loser - on layoff' 'Other job loser' 'New entrant' 'Re-entrant'
 'Job leaver']
15 : object 0.0% NaN
['Not in labor force' 'Children or Armed Forces' 'Full-time schedules'
 'Unemployed full-time' 'Unemployed part- time'
 'PT for non-econ reasons usually FT' 'PT for econ reasons usually PT'
 'PT for econ reasons usually FT']
16 : int64 0.0% NaN
[    0  5178   991  2829  3464  5556  7298 15024  1831  3137 10605 20051
  2538  3908  2407  2050  3103  1086  7688  5013  4386  2414 99999 13550
  2174  4650  4064   914  2354  4787  2009  2597  1055  6097  2635  2105
  3325  6767  2228  2062  3942 27828  9562  2176  7262  2202  2290  1173
  8614  2329  2653  7430  3456  2580 10520  2907  3471  2885  9386  2993
  7896 14084  3818  1409   594  7978  1797  2964  4934  1848  4101  3418
  3432  2774  1424  6849  4687  6418  4508  3674  3411  2936  4416  2346
 10566  7443  5455  1151 25236  2463  1455  3781 14344  4865 11678  1471
  5060   114  4931  1506   401 25124 15020  2036  3273  6514  1111  2977
 41310 18481  6497  6723 15831  2098  1264 34095 22040  3887  2961  5721
  1090  6360  3800  2387  1731  6612  9472  4594  2601  1140  2227  8530]
17 : int64 0.0% NaN
[   0 1590 1977 1669 1719 2444 1421 1848 2205 2149 2001 1902 2090 1573 2415
 2377 1876 1602 1740 1974 2339 1887 1258 2597 2603 1408 1980 1721 1816 1340
 2788 2174 2042 1485 2489 2129 2457 2051 1762 2057 1672 2258  213 1651 2206
 3770 1628 1564 1668 1735 1579  625 4608 2559 2246 4356 1844 2002 2267 3175
 1380 2392 1092 1504 2238 2704 2467  810 1539 2824 1741 1870 1944 1825  419
 2547 1510  880 1617 1411 1648  323 2282 2352 3004 1755 1429  653 2163 2179
 1436 2722 3500 1640  974 1021 2754 1726 3900 2027  772 2231 1138 1594 2465
 2519 1956 1911 2472 2201 2080 3683  155]
18 : int64 0.0% NaN
[   0 6000  100 ...,  169 1055 7958]
19 : object 0.0% NaN
['Nonfiler' 'Head of household' 'Joint both under 65' 'Single'
 'Joint both 65+' 'Joint one under 65 & one 65+']
20 : object 92.0946457300662% NaN
[nan 'South' 'Northeast' 'Midwest' 'West' 'Abroad']
21 : object 92.0946457300662% NaN
[nan 'Arkansas' 'Utah' 'Michigan' 'Minnesota' 'Alaska' 'Kansas' 'Indiana'
 '?' 'Massachusetts' 'New Mexico' 'Nevada' 'Tennessee' 'Colorado' 'Abroad'
 'Kentucky' 'California' 'Arizona' 'North Carolina' 'Connecticut' 'Florida'
 'Vermont' 'Maryland' 'Oklahoma' 'Oregon' 'Ohio' 'South Carolina' 'Texas'
 'Montana' 'Wyoming' 'Georgia' 'Pennsylvania' 'Iowa' 'New Hampshire'
 'Missouri' 'Alabama' 'North Dakota' 'New Jersey' 'Louisiana'
 'West Virginia' 'Delaware' 'Illinois' 'Maine' 'Wisconsin' 'New York'
 'Idaho' 'District of Columbia' 'South Dakota' 'Nebraska' 'Virginia'
 'Mississippi']
22 : object 0.0% NaN
['Other Rel 18+ ever marr not in subfamily' 'Householder'
 'Child 18+ never marr Not in a subfamily'
 'Child <18 never marr not in subfamily' 'Spouse of householder'
 'Secondary individual' 'Other Rel 18+ never marr not in subfamily'
 'Nonfamily householder' 'Grandchild <18 never marr not in subfamily'
 'Grandchild <18 never marr child of subfamily RP'
 'Child 18+ ever marr Not in a subfamily'
 'Child 18+ never marr RP of subfamily' 'Child 18+ spouse of subfamily RP'
 'Other Rel <18 never marr child of subfamily RP'
 'Child under 18 of RP of unrel subfamily'
 'Grandchild 18+ never marr not in subfamily'
 'Child 18+ ever marr RP of subfamily'
 'Other Rel 18+ ever marr RP of subfamily' 'RP of unrelated subfamily'
 'Other Rel 18+ spouse of subfamily RP'
 'Other Rel <18 never marr not in subfamily'
 'Other Rel <18 spouse of subfamily RP' 'In group quarters'
 'Grandchild 18+ spouse of subfamily RP'
 'Other Rel 18+ never marr RP of subfamily'
 'Child <18 never marr RP of subfamily'
 'Child <18 ever marr not in subfamily'
 'Other Rel <18 ever marr RP of subfamily'
 'Grandchild 18+ ever marr not in subfamily'
 'Child <18 spouse of subfamily RP' 'Spouse of RP of unrelated subfamily'
 'Other Rel <18 never married RP of subfamily'
 'Grandchild 18+ never marr RP of subfamily'
 'Grandchild 18+ ever marr RP of subfamily'
 'Child <18 ever marr RP of subfamily'
 'Other Rel <18 ever marr not in subfamily'
 'Grandchild <18 never marr RP of subfamily'
 'Grandchild <18 ever marr not in subfamily']
23 : object 0.0% NaN
['Other relative of householder' 'Householder' 'Child 18 or older'
 'Child under 18 never married' 'Spouse of householder'
 'Nonrelative of householder' 'Group Quarters- Secondary individual'
 'Child under 18 ever married']
24 : float64 0.0% NaN
[ 1700.09  1053.55   991.95 ...,  2733.75   908.14  4664.87]
25 : object 0.7598121519824782% NaN
['?' 'MSA to MSA' 'Nonmover' 'NonMSA to nonMSA' nan 'Not identifiable'
 'Abroad to MSA' 'MSA to nonMSA' 'Abroad to nonMSA' 'NonMSA to MSA']
26 : object 0.7598121519824782% NaN
['?' 'Same county' 'Nonmover' 'Different region'
 'Different county same state' nan 'Different division same region'
 'Abroad' 'Different state same division']
27 : object 0.7598121519824782% NaN
['?' 'Same county' 'Nonmover' 'Different state in South'
 'Different county same state' nan 'Different state in Northeast' 'Abroad'
 'Different state in Midwest' 'Different state in West']
28 : object 0.0% NaN
['Not in universe under 1 year old' 'No' 'Yes']
29 : object 42.12747402555094% NaN
['?' 'Yes' nan 'No']
30 : int64 0.0% NaN
[0 1 6 4 5 3 2]
31 : object 72.28840785272875% NaN
[nan 'Both parents present' 'Mother only present' 'Neither parent present'
 'Father only present']
32 : object 0.0% NaN
['United-States' 'Vietnam' 'Philippines' '?' 'Columbia' 'Germany' 'Mexico'
 'Japan' 'Peru' 'Dominican-Republic' 'South Korea' 'Cuba' 'El-Salvador'
 'Canada' 'Scotland' 'Outlying-U S (Guam USVI etc)' 'Italy' 'Guatemala'
 'Ecuador' 'Puerto-Rico' 'Cambodia' 'China' 'Poland' 'Nicaragua' 'Taiwan'
 'England' 'Ireland' 'Hungary' 'Yugoslavia' 'Trinadad&Tobago' 'Jamaica'
 'Honduras' 'Portugal' 'Iran' 'France' 'India' 'Hong Kong' 'Haiti' 'Greece'
 'Holand-Netherlands' 'Thailand' 'Laos' 'Panama']
33 : object 0.0% NaN
['United-States' 'Vietnam' '?' 'Columbia' 'Mexico' 'El-Salvador' 'Peru'
 'Puerto-Rico' 'Cuba' 'Philippines' 'Dominican-Republic' 'Germany'
 'England' 'Guatemala' 'Scotland' 'Portugal' 'Italy' 'Ecuador' 'Yugoslavia'
 'China' 'Poland' 'Hungary' 'Nicaragua' 'Taiwan' 'Ireland' 'Canada'
 'South Korea' 'Trinadad&Tobago' 'Jamaica' 'Honduras' 'Iran' 'France'
 'Cambodia' 'India' 'Hong Kong' 'Haiti' 'Japan' 'Greece'
 'Holand-Netherlands' 'Thailand' 'Panama' 'Laos'
 'Outlying-U S (Guam USVI etc)']
34 : object 0.0% NaN
['United-States' 'Vietnam' '?' 'Columbia' 'Mexico' 'Peru' 'Cuba'
 'Philippines' 'Dominican-Republic' 'El-Salvador' 'Canada' 'Scotland'
 'Portugal' 'Guatemala' 'Ecuador' 'Germany' 'Outlying-U S (Guam USVI etc)'
 'Puerto-Rico' 'Italy' 'China' 'Poland' 'Nicaragua' 'Taiwan' 'England'
 'Ireland' 'South Korea' 'Trinadad&Tobago' 'Jamaica' 'Honduras' 'Iran'
 'Hungary' 'France' 'Cambodia' 'India' 'Hong Kong' 'Japan' 'Haiti'
 'Holand-Netherlands' 'Greece' 'Thailand' 'Panama' 'Yugoslavia' 'Laos']
35 : object 0.0% NaN
['Native- Born in the United States' 'Foreign born- Not a citizen of U S '
 'Foreign born- U S citizen by naturalization'
 'Native- Born abroad of American Parent(s)'
 'Native- Born in Puerto Rico or U S Outlying']
36 : int64 0.0% NaN
[0 2 1]
37 : object 99.00562842379074% NaN
[nan 'No' 'Yes']
38 : int64 0.0% NaN
[2 0 1]
39 : int64 0.0% NaN
[ 0 52 30 49 32 15 38 48  9 24 50 10 45 43  4 26 40 20  6 12 51  1  8 39 13
 16 34 14 36 44 22 41 46 28 23 35 25 17 11 37  5 42 29  2 21 19 47  3 27  7
 18 33 31]
40 : int64 0.0% NaN
[95 94]
41 : object 0.0% NaN
['- 50000.' '50000+.']

In [6]:
learndf.describe(include='all')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41
count,199523.000000,99278,199523.000000,199523.000000,199523,199523.000000,12580,199523,199523,98839,199523,198649,199523,19064,6070,199523,199523.00000,199523.000000,199523.000000,199523,15773,15773,199523,199523,199523.000000,198007,198007,198007,199523,115469,199523.000000,55291,199523,199523,199523,199523,199523.000000,1984,199523.000000,199523.000000,199523.000000,199523
unique,NaN,8,NaN,NaN,17,NaN,2,7,24,14,5,9,2,2,5,8,NaN,NaN,NaN,6,5,50,38,8,NaN,9,8,9,3,3,NaN,4,43,43,43,5,NaN,2,NaN,NaN,NaN,2
top,NaN,Private,NaN,NaN,High school graduate,NaN,High school,Never married,Not in universe or children,Adm support including clerical,White,All other,Female,No,Other job loser,Children or Armed Forces,NaN,NaN,NaN,Nonfiler,South,California,Householder,Householder,NaN,?,?,?,Not in universe under 1 year old,?,NaN,Both parents present,United-States,United-States,United-States,Native- Born in the United States,NaN,No,NaN,NaN,NaN,- 50000.
freq,NaN,72028,NaN,NaN,48407,NaN,6892,86485,100684,14837,167365,171907,103984,16034,2038,123769,NaN,NaN,NaN,75094,4889,1714,53248,75475,NaN,99696,99696,99696,101212,99696,NaN,38983,159163,160479,176989,176992,NaN,1593,NaN,NaN,NaN,187141
mean,34.494199,NaN,15.352320,11.306556,NaN,55.426908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,434.71899,37.313788,197.529533,NaN,NaN,NaN,NaN,NaN,1740.380269,NaN,NaN,NaN,NaN,NaN,1.956180,NaN,NaN,NaN,NaN,NaN,0.175438,NaN,1.514833,23.174897,94.499672,NaN
std,22.310895,NaN,18.067129,14.454204,NaN,274.896454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4697.53128,271.896428,1984.163658,NaN,NaN,NaN,NaN,NaN,993.768156,NaN,NaN,NaN,NaN,NaN,2.365126,NaN,NaN,NaN,NaN,NaN,0.553694,NaN,0.851473,24.411488,0.500001,NaN
min,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,37.870000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,94.000000,NaN
25%,15.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1061.615000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,0.000000,94.000000,NaN
50%,33.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1618.310000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,8.000000,94.000000,NaN
75%,50.000000,NaN,33.000000,26.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,2188.610000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,52.000000,95.000000,NaN
max,90.000000,NaN,51.000000,46.000000,NaN,9999.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999.00000,4608.000000,99999.000000,NaN,NaN,NaN,NaN,NaN,18656.300000,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,52.000000,95.000000,NaN

# Procedural Comments

Having taken a look at the data, it is obvious to me that the columns might not necessarily be the columns indicated in the metadata file.  Other than assuming that column 0 = age and column 41 is our prediction column, I made a decision to assume that the remaining data was mislabeled.

In [7]:
def isOver(row):
    return 0 if row[len(learndf.columns)-1] == '- 50000.' else 1

def validate(df):
    assert isinstance(df, pd.DataFrame)
    for col in df:
        if df[col].isnull().sum() > 0:
            print("Error NaN detected for {}!".format(col))
            return False
    print("No NaNs.")
    return True

def print_scores(model, X_test, y_true, y_pred):
    if y_pred.dtype == np.float16 or y_pred.dtype == np.float32 or y_pred.dtype == np.float64:
        y_pred = GetPrediction(y_pred)
    acc_score_norm = metrics.accuracy_score(y_true, y_pred)
    acc_score_non_norm = metrics.accuracy_score(y_true, y_pred, normalize=False)
    print('Acc norm: {} Acc non-norm: {}'.format(acc_score_norm, acc_score_non_norm))
    ce_score_norm = metrics.log_loss(y_true, y_pred)
    ce_score_non_norm = metrics.log_loss(y_true, y_pred, normalize=False)
    print('CE norm: {} CE non-norm: {}'.format(ce_score_norm, ce_score_non_norm))
    matthews = metrics.matthews_corrcoef(y_true, y_pred)
    print('Matthews Cor. Coef: {}'.format(matthews))
    scores = roc_auc(model, X_test, y_true, y_pred)
    print('roc_auc: {} <- {}'.format(np.average(scores), scores))

def get_roc_auc(model, X_test, y_true, y_pred):
    scores = cross_val_score(model, X_test, y=y_true, scoring='roc_auc', n_jobs=-1)
    return scores

print('Loaded...')

Loaded...

# Build a model

In [11]:
y_train = pd.DataFrame()
y_train['IsOver'] = learndf.apply(isOver, axis=1)
y_test = pd.DataFrame()
y_test['IsOver'] = testdf.apply(isOver, axis=1)
del learndf[len(learndf.columns)-1]
del testdf[len(learndf.columns)-1]

y_train.describe()

              IsOver
count  199523.000000
mean        0.062058
std         0.241261
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [12]:
model = LogisticRegression()
X_train = pd.DataFrame()
X_test = pd.DataFrame()
roc_auc = 0
roc_auc_list = [roc_auc]

for col in learndf:
    if learndf[col].dtype.name == 'int64' or learndf[col].dtype.name == 'float64' :
        col_train = pd.DataFrame({col : learndf[col]})
        col_test = pd.DataFrame({col : testdf[col]})
    elif learndf[col].dtype.name == 'object':
        col_train = pd.get_dummies(learndf[col])
        col_test = pd.get_dummies(testdf[col])
    else:
        print('bad type')
        () + 1
    assert isinstance(col_train, pd.DataFrame)
    assert isinstance(col_test, pd.DataFrame)
    if len(col_train.columns) != len(col_test.columns):
        for newcol in col_train:
            if newcol not in col_test.columns:
                col_test[newcol] = 0
    new_X_train = pd.concat([X_train, col_train], axis=1)
    new_X_test = pd.concat([X_test, col_test], axis=1)
    model.fit(new_X_train, y_train.IsOver.ravel())
    y_pred = model.predict(new_X_test)
    scores = get_roc_auc(model, new_X_test, y_test.IsOver.values, y_pred)
    new_roc_auc = np.average(scores)
    print('{} roc_auc: {} <- {}'.format(col, np.average(scores), scores))
    if new_roc_auc > roc_auc:
        X_train = new_X_train
        X_test = new_X_test
        roc_auc = new_roc_auc
        roc_auc_list.append(roc_auc)

y_pred = model.predict(X_test)
print_scores(model, X_test, y_test.IsOver.values, y_pred)

0 roc_auc: 0.6962662371584746 <- [ 0.69516979  0.69543016  0.69819876]
1 roc_auc: 0.8271045467111823 <- [ 0.83043102  0.82235843  0.82852419]
2 roc_auc: 0.827007000000083 <- [ 0.83042162  0.82208099  0.82851839]
3 roc_auc: 0.8651394019307596 <- [ 0.86623623  0.86326569  0.86591629]
4 roc_auc: 0.8942116490612008 <- [ 0.89555303  0.89333558  0.89374634]
5 roc_auc: 0.8941994932960916 <- [ 0.89552634  0.89335861  0.89371354]
6 roc_auc: 0.8957623499878563 <- [ 0.89709971  0.89502242  0.89516492]
7 roc_auc: 0.8992396606498039 <- [ 0.90057514  0.89907931  0.89806453]
8 roc_auc: 0.909871016111885 <- [ 0.9108068   0.91008991  0.90871634]
9 roc_auc: 0.9160843715719759 <- [ 0.91785551  0.91643796  0.91395965]
10 roc_auc: 0.9160677458228945 <- [ 0.9180424   0.91638785  0.91377299]
11 roc_auc: 0.9161106213908962 <- [ 0.91771916  0.91661544  0.91399726]
12 roc_auc: 0.9234457484808584 <- [ 0.926054    0.92405433  0.92022891]
13 roc_auc: 0.9236206246190278 <- [ 0.92624198  0.92422133  0.92039857]
14 roc_auc: 0.9242581428026635 <- [ 0.92691972  0.92454107  0.92131364]
15 roc_auc: 0.9243774693487109 <- [ 0.92695625  0.92482593  0.92135023]
16 roc_auc: 0.9308588269087045 <- [ 0.93309447  0.93228446  0.92719755]
17 roc_auc: 0.9330290442922392 <- [ 0.93508165  0.93470327  0.92930221]
18 roc_auc: 0.9370381819863617 <- [ 0.93860856  0.93808643  0.93441955]
19 roc_auc: 0.9390510377950126 <- [ 0.94055085  0.94047793  0.93612433]
20 roc_auc: 0.93907485179658 <- [ 0.9409187   0.94004772  0.93625814]
21 roc_auc: 0.9391043692385663 <- [ 0.94091934  0.9400535   0.93634026]
22 roc_auc: 0.9396336308886352 <- [ 0.94155645  0.94043089  0.93691355]
23 roc_auc: 0.9396109000484012 <- [ 0.9416112   0.94033223  0.93688928]
24 roc_auc: 0.9391807968949569 <- [ 0.94147487  0.93959377  0.93647375]
25 roc_auc: 0.9397125358230993 <- [ 0.94148945  0.94059044  0.93705772]
26 roc_auc: 0.9396664470492281 <- [ 0.94144337  0.940577    0.93697897]
27 roc_auc: 0.9396513035209191 <- [ 0.94146003  0.94058557  0.93690831]
28 roc_auc: 0.9397237820436436 <- [ 0.94145117  0.94063257  0.9370876 ]
29 roc_auc: 0.9396936349169587 <- [ 0.94141644  0.94065745  0.93700702]
30 roc_auc: 0.9422670655851388 <- [ 0.94350674  0.94322351  0.94007095]
31 roc_auc: 0.9422660342497066 <- [ 0.94350405  0.94322203  0.94007202]
32 roc_auc: 0.9421596279008098 <- [ 0.94319863  0.94309756  0.94018269]
33 roc_auc: 0.9421495969976467 <- [ 0.94320744  0.94312628  0.94011507]
34 roc_auc: 0.9421052210698075 <- [ 0.94300229  0.943125    0.94018836]
35 roc_auc: 0.9422615590831441 <- [ 0.94355982  0.94311533  0.94010952]
36 roc_auc: 0.9422596000640816 <- [ 0.94351895  0.94320242  0.94005742]
37 roc_auc: 0.9422789803598076 <- [ 0.94345146  0.94330771  0.94007777]
38 roc_auc: 0.9422716988206995 <- [ 0.94343001  0.94330413  0.94008096]
39 roc_auc: 0.9440146608840569 <- [ 0.94538811  0.94501037  0.9416455 ]

KeyError: 40

# Model Analysis

In [44]:
X_train.describe(include='all')

Acc norm: 0.9391351416370963 Acc non-norm: 93690
CE norm: 2.1022029831620705 CE non-norm: 209719.9740062145
Matthews Cor. Coef: 0.23851670022483315
roc_auc: 0.8875778974389466 <- [ 0.88924118  0.89113586  0.88235665]

In [28]:
#ToDo: Graph roc_auc

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41
count,199523.000000,99278,199523.000000,199523.000000,199523,199523.000000,12580,199523,199523,98839,199523,198649,199523,19064,6070,199523,199523.00000,199523.000000,199523.000000,199523,15773,15773,199523,199523,199523.000000,198007,198007,198007,199523,115469,199523.000000,55291,199523,199523,199523,199523,199523.000000,1984,199523.000000,199523.000000,199523.000000,199523
unique,NaN,8,NaN,NaN,17,NaN,2,7,24,14,5,9,2,2,5,8,NaN,NaN,NaN,6,5,50,38,8,NaN,9,8,9,3,3,NaN,4,43,43,43,5,NaN,2,NaN,NaN,NaN,2
top,NaN,Private,NaN,NaN,High school graduate,NaN,High school,Never married,Not in universe or children,Adm support including clerical,White,All other,Female,No,Other job loser,Children or Armed Forces,NaN,NaN,NaN,Nonfiler,South,California,Householder,Householder,NaN,?,?,?,Not in universe under 1 year old,?,NaN,Both parents present,United-States,United-States,United-States,Native- Born in the United States,NaN,No,NaN,NaN,NaN,- 50000.
freq,NaN,72028,NaN,NaN,48407,NaN,6892,86485,100684,14837,167365,171907,103984,16034,2038,123769,NaN,NaN,NaN,75094,4889,1714,53248,75475,NaN,99696,99696,99696,101212,99696,NaN,38983,159163,160479,176989,176992,NaN,1593,NaN,NaN,NaN,187141
mean,34.494199,NaN,15.352320,11.306556,NaN,55.426908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,434.71899,37.313788,197.529533,NaN,NaN,NaN,NaN,NaN,1740.380269,NaN,NaN,NaN,NaN,NaN,1.956180,NaN,NaN,NaN,NaN,NaN,0.175438,NaN,1.514833,23.174897,94.499672,NaN
std,22.310895,NaN,18.067129,14.454204,NaN,274.896454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4697.53128,271.896428,1984.163658,NaN,NaN,NaN,NaN,NaN,993.768156,NaN,NaN,NaN,NaN,NaN,2.365126,NaN,NaN,NaN,NaN,NaN,0.553694,NaN,0.851473,24.411488,0.500001,NaN
min,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,37.870000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,94.000000,NaN
25%,15.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1061.615000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,0.000000,94.000000,NaN
50%,33.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1618.310000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,8.000000,94.000000,NaN
75%,50.000000,NaN,33.000000,26.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,2188.610000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2.000000,52.000000,95.000000,NaN
max,90.000000,NaN,51.000000,46.000000,NaN,9999.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999.00000,4608.000000,99999.000000,NaN,NaN,NaN,NaN,NaN,18656.300000,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,52.000000,95.000000,NaN

In [27]:
learndf.isnull().sum()

0          0
1     100245
2          0
3          0
4          0
5          0
6     186943
7          0
8          0
9     100684
10         0
11       874
12         0
13    180459
14    193453
15         0
16         0
17         0
18         0
19         0
20    183750
21    183750
22         0
23         0
24         0
25      1516
26      1516
27      1516
28         0
29     84054
30         0
31    144232
32         0
33         0
34         0
35         0
36         0
37    197539
38         0
39         0
40         0
41         0
dtype: int64